[2019-11-19 14:22] Skarlso opened #1 "Page note found on deploy-hubble-and-grafana/grafana.json"
A `.` is missing from the link in metrics.md to the grafana.json definition file.

[2019-11-19 14:50] #1 closed

[2019-11-20 13:14] gandro opened #8 "parser: Use ipcache to populate labels"
The parser currently fails to annotate endpoint labels for endpoints running on remote nodes, this is due to the parser relying only on Cilium's trace information and local endpoint list to populate labels.

We should make the parser to additionally consult the security identity information is available in the `ipcache`. This would allow us to annotate labels for all known IP addresses.

[2019-11-20 17:46] tgraf opened #10 "Consider reversing output when using `--since`"
Hubble currently output flows with the latest flow first which requires to read request and response interactions from bottom to top. This seems unnatural.

We should consider reversing the order in which flows are being printed.

[2019-11-20 17:53] tgraf opened #11 "Skip output port if port is unknown"
Example of a DNS L7 flow:
[code]
Printing `:0` does not add any value and only uses up space.

[2019-11-20 20:33] soumynathan opened #12 "Hubble install with cilium documentation is missing directions to download Hubble"
Docmentation Issue - The Installation Instructions for Hubble with cilium is missing directions to download Hubble, before it asks to run the Helm command to generate the chart.
[code]

[2019-11-20 20:54] #11 closed

[2019-11-20 21:06] #12 closed

[2019-11-20 21:42] #8 closed

[2019-11-21 13:56] efenex opened #15 "Error: 14 UNAVAILABLE: failed to connect to all addresses"
After deploying cilium and hubble onto a GKE setup, I get the following error in the hubble ui (for the servicemap):

Failed to discover cluster: Error: from hubble: Error: 14 UNAVAILABLE: failed to connect to all addresses

The logs for the hubble-ui pod:

{"name":"frontend","hostname":"hubble-ui-548f6dfc9-czss8","pid":18,"req_id":"88ea14bc-662c-439e-9bb1-dc29c3d55575","user":"admin@localhost","l

[2019-11-21 15:41] gandro commented on #15
Thanks for the report!

Looking at the log output, it seems like Hubble is not listening on the TCP port that UI accesses. Did you deploy Hubble using our Helm chart or did you use `tutorials/deploy-hubble-servicemap/hubble-all-minikube.yaml`?

If you deployed via Helm, I think I found the cause: It looks like our Helm chart does not enable the TCP port when `ui.enabled=true`. If you use the follo

[2019-11-21 19:19] gandro commented on #15
@efenex We've just merged PR #16 which fixes an issue in the Helm chart (if you deployed Hubble via Helm). Please let us know if this fixed the issue for you.

[2019-11-26 20:29] rubenhak opened #19 "Flows don't show up on GKE"
Flows and arrows are not visible in Hubble UI. Yet flows for "hubble" namespace are visible. Running in GKE.

Running procedure:
[code]

I can confirm that flows are visible in "cilium monitor", "hubble observe", and "kubectl get cep".

[2019-11-27 09:37] gandro commented on #19
Thanks for the report! Could you proivde us the `kubectl logs` from the hubble-ui pod?

[2019-11-27 20:06] rubenhak commented on #19
[code]

[code]

Logs are identical across Hubble pods:
[code]

[2019-11-27 20:06] rubenhak commented on #19
Logs from cilium.

Egress node.  Caller service is **gprod-addr-main-web**
[code]

[2019-11-27 20:07] rubenhak commented on #19
Logs from cilium.

Ingress node. Responder service is gprod-addr-main-app

[code]

[2019-11-27 23:29] genbit commented on #19
i reproduced the issue, looks like when pods are running on a different nodes, labels for one of the source or destination are not getting properly populated, and UI could not include those flows into the service map.

[code]
zookeeper-79f8768c95-cldf4       1/1     Running   0          5m14s   10.28.3.193   gke-sergey-hubble-test-default-pool-e94fba21-mtbl   <none>           <none>

kafka-0

[2019-11-27 23:37] genbit commented on #15
I tried to reproduce it, and looks like issue is fixed.

[2019-11-27 23:37] #15 closed

[2019-11-28 00:24] rubenhak commented on #19
That's probably the case.

[2019-11-28 09:42] gandro commented on #19
Thanks a lot digging deeper, this helped a lot to reproduce it for me as well. The root cause seems to be that Hubble only reads Cilium's `AgentNotifyEndpointCreated` to populate the local endpoint cache, but fails to also parse `AgentNotifyEndpointRegenerateSuccess` events which contain the labels. I'll work on a fix.

[2019-11-28 13:09] #19 closed

[2019-11-28 13:23] gandro commented on #19
@rubenhak We've merged a PR to master which I believe should fix the issue. Please feel free to reopen if that's not the case.

[2019-11-28 20:47] rubenhak commented on #19
@gandro, Thanks for quick fix. Which version includes the fix?

[2019-11-29 20:16] gandro commented on #19
The fix was applied in Hubble master. Since we don't have releases yet, just redeploying the `latest` `cilium/hubble` image tag should do the trick.

[2019-12-03 13:24] daviddyball opened #23 "[Feature] Persistent Storage Option for Flows"
Are there any plans to implement persistent storage for flow data? Understandably this would require a lot of storage space, but it might be a useful feature to consider.

[2019-12-03 14:40] tgraf opened #24 "Publish Hubble roadmap"
Make the Hubble roadmap available publicly with GitHub projects

[2019-12-03 16:01] snowsky opened #25 "scheduler.alpha.kubernetes.io/critical-pod is obsolete in k8s 1.16"
According to https://github.com/kubernetes/kubernetes/blob/e9ce31bcb3feb411c4de4902651e43dbb78ed151/CHANGELOG-1.16.md, the annotation scheduler.alpha.kubernetes.io/critical-pod is obsolete, and Pod priority (spec.priorityClassName) should be used instead to mark pods as critical.

[2019-12-03 22:31] tom-hadlaw-hs opened #27 "Add ability to specify GRPC port and namespace to helm charts"
Currently to run hubble using a non standard GRPC port and namespace you need to generate the charts via helm and make the changes manually to the output. It would be helpful if these where exposed configuration variables.

[2019-12-04 01:47] Aisuko opened #29 "hubble pods get FailedCreatePodSandBox event can not deploy in successed."
I follow the document address below and there are some issues what I hit. https://github.com/cilium/hubble/blob/master/Documentation/metrics.md
[code]

cilium pods' logs

[code]

Kubernetes version
[code]

The document uses helm template, I believe helm3 template backwards compatible  helm2.
[code]

Linux kernel version
[code]

[2019-12-16 18:48] Vacant0mens opened #39 "Starting in Rancher, Can't start Cilium-Agent"
I use the instructions listed in the [Installation.md](https://github.com/cilium/hubble/blob/master/Documentation/installation.md) trying to start Hubble (but get stuck on Cilium), and the Cilium deployment gives the following error in the container logs:
[code]
There is a warning message in the logs just before that:
[code]

This is while running a Rancher 2.3.1 + Kubernetes 1.15.6 cluster with a

[2019-12-17 08:56] gandro commented on #39
Thanks for the report! If possible, could you please post the full log output of the cilium pod (the one that is abbreviated)? Thanks!

[2019-12-18 17:19] alexgaganashvili opened #41 "Flows are not being displayed"
Hi,

Flows are not being displayed under service maps.

<img width="1565" alt="Screen Shot 2019-12-18 at 9 15 51 AM" src="https://user-images.githubusercontent.com/22404720/71108187-7078a100-2177-11ea-9404-9773c5792ed2.png">

Thanks

[2019-12-18 21:59] gandro commented on #41
Thanks for the report! Could you please provide the following information: `kubectl logs` of the `hubble-ui` pod and if possible check that you see any flows in the [Hubble CLI](https://github.com/cilium/hubble/tree/master/tutorials/explore-flow-queries), for example by running `hubble observe --since 5m --namespace kube-system`

[2019-12-18 22:09] alexgaganashvili commented on #41
logs:

`> @ start /workspace/server

{"name":"frontend","hostname":"hubble-ui-5875785f7f-m5ntg","pid":18,"level":30,"msg":"Starting Hubble UI 🔭","time":"2019-12-18T04:12:05.391Z","v":0}
{"name":"frontend","hostname":"hubble-ui-5875785f7f-m5ntg","pid":18,"level":30,"msg":"Initialized DBs in 7 ms","time":"2019-12-18T04:12:05.405Z","v":0}
{"name":"frontend","hostname":"hubble-ui-5875785f7f-m5ntg","pi

[2019-12-19 08:53] gandro commented on #41
Okay, so it seems to be a problem with Hubble itself, not the UI. The UI (to my knowledge) currently hides traffic unrelated to Kubernetes, which is why the cilium-health check flows are not shown.

Do you have any workload running on the Kubernetes cluster? It would be useful to confirm that the the flows are indeed not showing up when you have pods communicating with each other.

[2019-12-19 18:59] alexgaganashvili commented on #41
I have installed the demo app https://github.com/cilium/hubble/tree/master/tutorials/deploy-hubble-servicemap#demo-application

However, I'm not even seeing a service map in the jobs-demo namespace.

[2019-12-19 22:43] Vacant0mens commented on #39
Full log is here: https://pastebin.com/3PC1d5Mn

[2019-12-20 06:22] pierrchen opened #42 "servicemap for native system services"
Hi,

Is it possible to use hubble for discover the service map for native system service (e.g service restarted by system from a systemd unit)?  The user case will be something like , running bubble on the masters of a kubernetes cluster, and monitoring the service/component healthy/interaction. e.g haproxy -> apiserver -> etcd.

[2019-12-20 09:26] gandro commented on #39
Thanks! From `level=warning msg="RTNETLINK answers: Address already in use" subsys=datapath-loader` it looks like there is already another CNI running. Unfortunately, it seems like Rancher does not have out-of-the-box integration for Cilium. You might still be able to run Cilium in CNI chaining mode, which is sufficient for Hubble. Depending on your CNI, you might want to consult one of these guid

[2019-12-20 16:19] Vacant0mens commented on #39
Okay, so my cluster was set up with pretty much all defaults. So I'll try to re-create my cluster with Flannel and see if I get the same issues starting Cilium.

[2019-12-28 14:37] GalSagie opened #44 "Using Hubble with a different CNI (different networking solution)"
Have a different CNI for Kubernetes (Other then Cilium) but still have the ability to leverage Hubble for visibility

[2019-12-28 16:55] gandro commented on #44
Please note that Cilium supports CNI chaining, i.e. you can use Cilium on top of another CNI. This will allow you to use another networking solution, while Hubble can still rely on Cilium for gathering flow data: https://docs.cilium.io/en/v1.6/gettingstarted/cni-chaining/

[2020-01-07 15:05] #44 closed

[2020-01-07 15:06] tgraf commented on #42
@pierrchen This feature will be unlocked with Cilium 1.8 which will provide host networking visibility and protection. The hubble work will be done as soon as this feature becomes available in Cilium.

[2020-01-07 15:09] tgraf commented on #39
@Vacant0mens The issue is that Rancher will have already installed a CNI plugin which conflicts with Cilium. Remove flannel or whathever CNI Rancher has installed. Unfortunately, the Linux kernel only allows one encapsulation device to be created at the time.

[2020-01-07 15:12] tgraf commented on #29
@Aisuko Can you retry with the latest Cilium version? What kernel version are you using?

[2020-01-07 16:43] gandro commented on #41
@alexgaganashvili Could you confirm that `cilium monitor` on the cilium pods shows traffic related to pods? If not, it might be that your pods are not managed by Cilium, and therefore Hubble will not see any traffic for them (this for example is the case for pods that were started before Cilium was installed).

[2020-01-07 18:07] Vacant0mens commented on #39
So I set up my cluster with Flannel, but it's still giving me the same error about `Address already in use`

@tgraf , does that mean that since Rancher has the CNI already set up that Cilium won't just use what's already there?

[2020-01-07 20:57] pierrchen commented on #42
@tgraf very nice!  Will it be able to run as a standalone command or it requires a full installation of  Cilium? Current I'm using using various bcc/bpftrace tools along with ss/ps and others to do the ad hoc analysis. It will be very useful if we can have single tool expose/export all the service dependency magically.

[2020-01-08 00:41] alexgaganashvili commented on #41
Below is what I see:

`-> endpoint 340 flow 0xcc64b4b identity 1->4 state established ifindex lxc_health orig-ip 172.16.1.201: 172.16.1.201:33700 -> 172.16.1.238:4240 tcp ACK
-> host from flow 0x2598f930 identity 4->1 state reply ifindex cilium_net orig-ip 0.0.0.0: 172.16.1.238:4240 -> 172.16.1.201:33700 tcp ACK
-> overlay flow 0x519ba527 identity 6->0 state new ifindex cilium_vxlan orig-ip 0.0.0.

[2020-01-08 09:59] gandro commented on #41
Thanks a lot for the output. So the traffic you see is the Cilium health check (port 4240), no cluster traffic seems to be passed through Cilium, which is why Hubble can't see it either.

How have you deployed Cilium? I'm assuming if you use Flannel, you are using it in chaining mode? https://docs.cilium.io/en/v1.6/gettingstarted/flannel-integration/

[2020-01-10 22:00] alexgaganashvili commented on #41
I deployed cilium-1.7.0-rc1 by generating a yaml manifest using helm and applying the manifest.
When I reported the issue I was using `vxlan` as a backend in flannel. And I had `global.flannel.masterDevice` set to the flannel interface. Later I noticed that routing between the nodes did not work. I had to switch to `host-gw` as a backend - my nodes are on the same lan, and `host-gw` appears to be

[2020-01-13 10:59] #25 closed

[2020-01-13 12:44] gandro opened #48 "Translate service IPs to service names"
Similar to how we map IP addresses to domain and pod names, we should also map service IPs to the Kubernetes service name. The necessary changes in Cilium have already been done ( https://github.com/cilium/cilium/pull/9554 https://github.com/cilium/cilium/pull/9574), what still remains are the necessary changes in Hubble.

Suggested steps:

1. Extend our [Cilium client](https://github.com/cilium/h

[2020-01-14 10:07] Rolinh opened #50 "migrate to Go modules"
Cilium already migrated to Go modules (see https://github.com/cilium/cilium/pull/8719). Hubble should also migrate from dep to go mod for dependency management.

[2020-01-15 15:07] dsexton opened #52 "Upload helm chart to repository"
It would be great if the hubble chart was also packaged and uploaded to the chart repository.

See:

- https://github.com/cilium/cilium/pull/9772
- https://github.com/cilium/cilium/blob/master/contrib/release/uploadrev

[2020-01-16 03:08] Aisuko commented on #29
Sorry for reply so late. I follow the  Cilium official document OS version Centos8 with kernel version 4.18.0-80.11.2.el8_0.x86_64 which just I post above. I will try the latest Cilium version and I will feedback if there have any updates.

[2020-01-22 14:09] Rolinh commented on #50
Currently, one cannot "go get" cilium which prevents migrating to go mod. I need to investigate this further.
[code]

[2020-01-22 16:44] #48 closed

[2020-01-23 17:44] gandro commented on #41
In that case I believe you want to set `global.flannel.masterDevice` to your LAN interface, which will cause Cilium to attach its BPF programs to that interface. Otherwise Cilium never has a chance to observe your cluster traffic, I think.

In addition, you probably also want to set `global.flannel.uninstallOnExit=true` to make sure the BPF programs also gets removed when CIlium is stopped.

[2020-01-23 17:52] gandro commented on #39
@Vacant0mens Unfortunately, Cilium currently cannot yet automatically detect that you are running Flannel. This is on the roadmap, but not yet implemented. In the meantime, please make sure to follow this guide when installing Cilium: https://docs.cilium.io/en/latest/gettingstarted/flannel-integration/

[2020-01-27 23:58] alexgaganashvili commented on #41
I had tried it before. I had to restart the nodes, as they were unreachable; and I was seeing the following in the console:

<img width="860" alt="Screen Shot 2020-01-27 at 3 56 33 PM" src="https://user-images.githubusercontent.com/22404720/73224257-c39e2600-411d-11ea-8c13-c8fba121687f.png">

[2020-01-28 19:55] Rolinh opened #68 "apply filter before applying `--last`"
The current logic gets the `--last` number of elements from the ring buffer, then applies the filter which usually results in less than the requested amount of flows or even none.

[2020-01-29 01:02] #50 closed

[2020-01-29 20:14] Starblade42 opened #71 "No version numbers in Cilium Hubble container builds"
We're looking at integrating Cilium Hubble into our Kubernetes cluster deployments, but we're prevented from using it as a troubleshooting tool because Cilium Hubble doesn't yet have any versioned containers to pull other than the tag `latest`

As a general policy, we don't allow using the `latest` tag in our manifests to prevent unexpected issues from cropping up. For example pinning to a contain

[2020-01-29 20:17] Starblade42 commented on #71
Barring that, I can make my own mirror of `latest` on occasion and give it a versioned tag to pull from.

[2020-01-29 20:48] glibsm commented on #71
That's actually a very interesting point. Depending on the size of the rollout, you're right `:latest` can be volatile.

We of course don't foresee using `:latest` for very long, eventually using semver for releases.

I don't see much downside to arbitrary start `v0.0.1` _somewhere_ in the existing tree.

[2020-01-30 01:45] Starblade42 commented on #71
And to be clear, until things are more ready, I actually don't mind if that v0.0.1 will get updated to different commits (even tracking master!). Eventually it will be used more carefully, I'm sure. 😄

[2020-02-01 00:10] joestringer opened #73 "Hubble DNS visibility only works in one direction"
What is this @michi-covalent

[code]

[code]

[code]

[2020-02-03 17:46] #10 closed

[2020-02-03 17:46] #68 closed

[2020-02-04 10:09] gandro opened #76 "Remove endpoint history from endpoint cache"
The current endpoint cache in `github.com/cilium/hubble/pkg/api/v1.Endpoints` contains a few artifacts from early versions of Hubble where flows were decoded late, i.e. when a gRPC flow requested them. This meant that the endpoint cache had to keep "historic" data about endpoints around, we do this by tracking its deletion time:

https://github.com/cilium/hubble/blob/9df73911732a4d880c4fb4c7d112e4

[2020-02-05 23:07] michi-covalent opened #79 "docker build failing"
[code]

[2020-02-05 23:27] glibsm commented on #79
Did quay notify anyone or was this found by accident?

[2020-02-05 23:37] michi-covalent commented on #79
i was trying to build the image locally. right now quay doesn't really notify anything.

one thing we can do is to do `docker build .` as a part of the build in github actions.

[2020-02-05 23:37] #79 closed

[2020-02-06 15:38] Rolinh opened #82 "container (ring): data race while running tests"
Hit a data race while running the tests with the `-race` flag:
[code]

[2020-02-09 13:30] tgraf opened #86 "Useless node name in CLI output"
The node name in the output is pretty useless when operating the CLI in a single node context and only steals space.

[code]

[2020-02-11 14:18] tgraf opened #89 "Multi-node support"

[2020-02-11 14:18] tgraf opened #90 "Pluggable metrics"

[2020-02-11 14:18] tgraf opened #91 "Collect hubble information via Cilium sysdump"

[2020-02-11 14:19] tgraf opened #92 "Policy-free L7 visibility"

[2020-02-11 14:21] tgraf commented on #24
Provided via https://github.com/cilium/hubble/projects/1

[2020-02-11 14:21] #24 closed

[2020-02-11 14:25] tgraf opened #93 "CI Coverage of existing features"

[2020-02-11 14:27] tgraf opened #94 "Runtime CI (potentially via Cilium CI)"

[2020-02-11 14:27] tgraf opened #95 "One-click installation with auto-chaining"

[2020-02-11 15:14] tgraf commented on #90
This has been implemented via `pkg/metrics`

[2020-02-11 15:14] #90 closed

[2020-02-11 15:14] tgraf opened #96 "Meet minimal scalability goals"
- [x] Additional server side filtering
- [x] Multi-node dependency (#89)
- [x] Additional UI scalability work

[2020-02-11 15:55] tgraf opened #97 "Allow embedding Hubble into Cilium"

[2020-02-13 05:11] genbit commented on #86
@tgraf even in multi-node context, I find this information could be hidden behind a flag --node that will enable showing up node name.

[2020-02-13 07:42] amitrintzler opened #101 "Install Hubble from installation guide failing"
Hi,
when trying to follow the instructions that appears in this site:
https://github.com/cilium/hubble/blob/master/Documentation/installation.md
once you reach to hubble and try to run this cmd:
[code]

you will fail on :
[code]

tried to install also without any metrics and also not working , it looks like the template that exist here not working .
can you please update the guidelines if any thin

[2020-02-13 07:56] Rolinh commented on #101
Hi @amitrintzler, I can't reproduce. Are you sure you're running this command from the `hubble/install/kubernetes` directory? And which version of helm are you using?

[2020-02-13 08:10] amitrintzler commented on #101
Hi @Rolinh ,
Yes, helm v2.10.0

[2020-02-13 08:24] Rolinh commented on #101
I failed to reproduce with helm v2 (v2.16.1) as well.
Your helm version is 1.5 years old though, would you mind trying with a more recent one?

[2020-02-13 08:25] amitrintzler commented on #101
Hi,
my application still using this helm version so cant upgrade it for now.
is there any thing specific that i can provide to assist you reproduce?
i'm running it on VM that host in openstack

[2020-02-13 16:34] glibsm commented on #86
Is this only the case for the compact output, or also all other types? json/dict?

[2020-02-14 02:26] michi-covalent commented on #97
PoC branch: https://github.com/cilium/cilium/commits/pr/michi/hubble2

need to clean up before opening a PR, but it would be nice to get some feedback to make sure it looks reasonable, especially this commit: https://github.com/cilium/cilium/commit/259dc6bfa860f48345d9f36b45061b1ece0d1ae7

cc @tgraf @glibsm @gandro @Rolinh

[2020-02-14 17:16] Rolinh commented on #101
If you're running a no longer maintained version of helm that contains a bug that prevents you from generating charts, I don't think there's much we can do on our end.

[2020-02-14 17:31] michi-covalent opened #106 "figure out logging situation for cilium-embedded hubble"
as a part of #97, cilium uses logrus whereas hubble uses zap. i'm thinking that the most pragmatic thing to do for the time being is to change hubble to use logrus. let me know if anybody has other suggestions.

[2020-02-14 17:57] michi-covalent opened #107 "service name fields missing"
i'm using minikube with `docker.io/cilium/cilium:latest` and `quay.io/cilium/hubble:latest`. i don't see the service name fields set when i run `curl hubble-ui-svc:12000` from the hubble pod. here is the output from `hubble observe --server localhost:50051 -n default --port 12000 -f --json`:

[flows.txt](https://github.com/cilium/hubble/files/4205957/flows.txt)

[2020-02-14 22:20] genbit commented on #101
@amitrintzler try to modify values.yaml instead of specifying
[code]

[2020-02-14 22:23] genbit commented on #86
i think it's only the case for default hubble output (is it compact). JSON could have it. Not sure what is `dict`

[2020-02-16 07:37] amitrintzler commented on #101
Hi @genbit ,
i tried also without any metrics in the set part and also getting the same issue.
maybe i'm doing some thing wrong:
these are the steps:
1. curl -LO https://github.com/cilium/cilium/archive/v1.7.0-rc1.tar.gz
tar xzvf v1.7.0-rc1.tar.gz
cd cilium-1.7.0-rc1/install/kubernetes
2. helm template cilium \
  --namespace kube-system \
  --set global.tag=v1.7.0-rc1 \

kubectl create -f cilium.y

[2020-02-16 21:50] patrickdevivo opened #110 "Add TODOs Badge"
Hi there! I wanted to propose adding the following badge to the README to indicate how many `TODO` comments are in this codebase:

[![TODOs](https://img.shields.io/endpoint?url=https://api.tickgit.com/badge?repo=github.com/cilium/hubble)](https://www.tickgit.com/browse?repo=github.com/cilium/hubble)

The badge links to `tickgit.com` which is a free service that indexes and displays TODO comments i

[2020-02-17 17:03] michi-covalent commented on #101
@genbit @Rolinh perhaps it makes sense to have a generated yaml file checked in somewhere like cilium does with `quick-install.yaml`?

https://docs.cilium.io/en/v1.6/gettingstarted/minikube/#install-cilium

[2020-02-17 17:15] michi-covalent commented on #101
@amitrintzler in the meantime you can use this yaml file:

[hubble.yaml.txt](https://github.com/cilium/hubble/files/4215186/hubble.yaml.txt)

[2020-02-17 17:24] amitrintzler commented on #101
Hi Guys,
Many thanks for your support!
To be sure i will not do any mistake:
You want me to do the following,
Instead this one:
git clone https://github.com/cilium/hubble.git
cd hubble/install/kubernetes
helm template hubble
--namespace kube-system
--set metrics.enabled="{dns,drop,tcp,flow,port-distribution,icmp,http}"

What should i have that will work with the metrics?

[2020-02-17 17:29] michi-covalent commented on #101
@amitrintzler you can either download hubble.yaml.txt or apply it directly:
[code]
i generated this file using the command:
[code]
so it should have the metrics enabled.

[2020-02-17 17:51] genbit commented on #101
there is also - https://github.com/cilium/hubble/blob/master/tutorials/deploy-hubble-servicemap/hubble-all-minikube.yaml

[2020-02-18 04:51] michi-covalent commented on #101
@genbit yeah let's just use that. is there anything minikube specific about the yaml file?

[2020-02-18 08:35] #106 closed

[2020-02-18 14:15] gandro opened #114 "hubble observe --since does not terminate"
Using `hubble observe --since T` without any `--until` filter does not terminate automatically anymore, presumably because the server does not close the response and waits for new flows to arrive. This happens until the user terminates the request by presses CTRL+C.

This behavior should only occur if `--follow` is passed. If `--follow` is omitted, the server should close the connection itself if

[2020-02-18 15:46] genbit commented on #101
not really, should be good to use for other installations as well

[2020-02-18 15:51] glibsm commented on #114
🤔 https://github.com/cilium/hubble/blob/master/cmd/observe/observe.go#L312-L315

[2020-02-18 15:54] michi-covalent commented on #101
@genbit there is still a pending pr for this

[2020-02-19 19:00] tgraf commented on #91
https://github.com/cilium/cilium-sysdump/releases/tag/v0.19 has been released.

[2020-02-19 19:00] #91 closed

[2020-02-19 22:05] michi-covalent opened #118 "remove GetServiceByID"
it doesn't look like it's being used.

[2020-02-20 10:31] gandro commented on #107
So the service names are missing because the traffic seems to go directly from pod to pod, bypassing the service cluster IP entirely. As discussed offline, I assumed this was host-reachable services, however they are not enabled by default in minikube.

Can you please double check what the DNS response for `hubble-ui-svc` was? If minikube's DNS is returning the pod IP instead of the service IP for

[2020-02-20 13:24] gandro commented on #107
@michi-covalent Can you provide the output of `cilium status` for your minikube cluster? On minikube 1.7.3, Cilium's host-reachable services are actually enabled (see below), which explains the behavior.
[code]

We likely have to extend the Cilium datapath to provide Hubble with trace information to also give us the the destination IP before the service address translation:

[2020-02-20 17:19] #101 closed

[2020-02-20 19:21] #118 closed

[2020-02-20 20:52] glibsm opened #121 "--follow doesn't work with --dict"
`hubble observe --follow --dict` should follow in dictionary mode, yet it incorrectly defaults to compact.

`--follow --json` works correctly and follows in json

[2020-02-21 01:04] michi-covalent commented on #107
@gandro

- dns seems to return the service IP:
[code]

- cilium status: i'm using minikube v1.5.2. looks like HostReachableServices is not enabled.
[code]

[2020-02-21 01:30] michi-covalent opened #122 "make group name for unix domain socket configurable."
right now it's hardcoded to be 'hubble'. in embedded mode (#97) it probably makes more sense to use the existing cilium group.

[2020-02-21 09:27] #122 closed

[2020-02-21 17:44] michi-covalent opened #124 "make DefaultSocketPath configurable"
similar to https://github.com/cilium/hubble/issues/122, make the default socket path configurable  so that we can change it to something like `unix:///var/run/cilium/hubble.sock` in embedded mode. this way the observe command works without the `--server` argument.

[2020-02-21 18:07] CH-anhngo opened #125 "Hubble UI cannot render"
![Screen Shot 2020-02-21 at 10 04 54 AM](https://user-images.githubusercontent.com/47187869/75059491-ebb94480-5491-11ea-88fd-dad158348785.png)

We cannot render the hubble-ui due to this below error message:
[code]

[2020-02-23 15:54] fentas opened #128 "Export svg as file within hubble ci"
It would be really nice to be able to export the generated SVG to clipboard or file. :unicorn:

[2020-02-24 10:07] Rolinh commented on #121
Since we're talking about output formatting here, what about having a `-o, --output=` switch which would take values `compact|dict|json|...` instead? I think it would make it easier to see all available output options for the `observe` command.

I can give it a shot and fix this bug at the same time if you're up for it.

[2020-02-24 12:29] Rolinh commented on #114
I fail to reproduce it with master, even with a very small ring buffer.

[2020-02-24 12:34] Rolinh opened #131 "observe does not print anything when the ring buffer is full"
When the ring buffer is full, queries such as `hubble observe --since 1h` or `hubble observe --last 1000` (with a ring buffer of size < 1000) does not print out anything.

/cc @gandro who observed this behavior while trying to reproduce #114

[2020-02-24 13:00] Rolinh commented on #110
[As for cilium](https://github.com/cilium/cilium/pull/10103#issuecomment-587968694), we'd rather create issues with the label `good-first-issue` for beginners as TODO comments typically lack contextual information.

[2020-02-24 13:00] #110 closed

[2020-02-24 13:06] gandro commented on #114
I also cannot reproduce on master. I observed this on a work-in-progress Cilium-embedded Hubble branch. I'm closing it for now. Will reopen if I observe it again on a more recent branch.

[2020-02-24 13:06] #114 closed

[2020-02-24 16:30] #124 closed

[2020-02-24 22:35] #73 closed

[2020-02-25 00:05] michi-covalent opened #134 "observe --follow terminates when buffer is empty"
this might be related to #131, but i'm seeing a slightly different issue where `observe --follow` terminates when ring buffer is *empty*. i looked into it a bit, basically what happens is:

- flow is nil here: https://github.com/cilium/hubble/blob/00dc35a7f50dedea536c2b987b9fce1f8a079556/pkg/container/ring.go#L180
- NextFollow returns nil event: https://github.com/cilium/hubble/blob/00dc35a7f50ded

[2020-02-25 07:55] #121 closed

[2020-02-25 08:17] Rolinh commented on #134
Thanks for the report, I'll have a look.

[2020-02-25 14:47] geakstr commented on #125
@CH-anhngo can you try set `STRICT_SSL: "false"` env var for hubble-ui deployment please?

[2020-02-25 16:15] shaikatz opened #138 "Hubble UI - View issues with Prometheus"
Hi,

While trying to view a service map for a namespace that has Prometheus scrape enabled, the view is very disordered and unusable.

Example:
![image](https://user-images.githubusercontent.com/10139826/75266293-cebaa380-57fa-11ea-9986-eb37620f5827.png)

Will be happy to have a way to exclude specific services from the map to exclude prometheus.

[2020-02-25 17:25] CH-anhngo commented on #125
We did tried it. But it got the same error.

[2020-02-25 18:37] #134 closed

[2020-02-25 20:31] Rolinh opened #140 "container/ring: data race detected on ring.full"
I compiled `hubble` (at ref c7f6953b6f178b68a23eaea6f2db32ec291fa214) with the `-race` flag and ran into a data race while running `hubble serve --max-flows 255`:
[code]
I didn't take time to investigate yet but opened this issue to keep track of it as at first glances it seems to be a different one that the one in #82.

[2020-02-25 20:46] Rolinh opened #141 "container/ring: readFrom leaks a goroutine under certain conditions"
`Ring.readFrom()` spawns 2 goroutines, the [2nd one](https://github.com/cilium/hubble/blob/cb772fd9d09c2478368ba46643170370ae956153/pkg/container/ring.go#L168) being a children of the [1st one](https://github.com/cilium/hubble/blob/cb772fd9d09c2478368ba46643170370ae956153/pkg/container/ring.go#L163).
When a caller sends a empty struct to the `stop` channel or closes it, routine 2 [may catch the si

[2020-02-26 08:58] geakstr opened #145 "Replace request lib with something different in hubble-ui"
Pull request with patch https://github.com/cilium/hubble-ui/pull/8
Issue with request dep https://github.com/request/request/issues/3274

[2020-02-26 09:13] Rolinh commented on #145
@geakstr It looks like this library is not maintained anymore. From [the readme](https://github.com/request/request/blob/master/README.md):

See also [this issue](https://github.com/request/request/issues/3142). It looks like it's time to consider an alternative.

[2020-02-26 09:35] geakstr commented on #125
Does `kubectl` work from hubble-ui pod? Something like that:

[code]

Inside hubble-ui

[2020-02-26 12:21] geakstr commented on #145
@Rolinh thanks, I've updated the title

[2020-02-26 13:49] bengentil commented on #145
@geakstr Replacing request in hubble-ui in not sufficient, request is used almost everywhere in the kubernetes-client, so this depends also on https://github.com/kubernetes-client/javascript/issues/414

[2020-02-26 18:45] #141 closed

[2020-02-26 18:46] #140 closed

[2020-02-26 19:29] michi-covalent opened #150 "Define an interface to access Endpoint fields"
so that hubble and cilium (for embedded mode) can define the interface independently for endpoint getter. it needs access to the following fields:

- ID
- PodName
- PodNamespace
- Labels

[2020-02-27 10:10] gandro opened #155 "Numerical identity for endpoints not always populated"
Some Cilium trace notifications (e.g. `from-endpoint` flows) do not contain the numerical security identity of the source/target (in the case of `from-endpoint`, this is more or less by design, since it is intended to be an early tracepoint that happens before any lookups/modifications).

For source/targets that are not a local endpoint, this is not a problem as the identities are populated when w

[2020-02-27 10:44] gandro opened #156 "Some CIDR identities have identity `reserved:unknown`"
Cilium network policies with CIDRSets assign different numerical security identities to different CIDR subnets. When performing a lookup for a CIDRs identity in the IPCache, we only perform a lookup on the IP itself, not on any subnets the IP may belong. This causes the identity in the flow the be `reserved:unknown` instead of the actual numerical security identity.

When looking up an IP in the I

[2020-02-27 12:38] gandro opened #158 "Revisit integer sizes in protobuf definitions"
Some of our integer sizes in the protobuf definitions are too large. If we can afford a breaking change, we should resize them to appropriate sizes.

Example:
https://github.com/cilium/hubble/blob/23ae0b9c2a2d399789faf6189db8820063b608c0/api/v1/flow/flow.proto#L114
Cilium numeric security identities are 32 bit. We should use a uint32 here.

Unfortunately protobuf does not have a `uint16` type, whi

[2020-02-27 15:26] gandro opened #160 "Rounding behavor of --max-flows is confusing"
Currently, `--max-flows` bumps up to the *next* `(2^n)-1`.

[code]

Examples:
[code]

As a user, I find this behavior confusing. I would expect `--max-flows 1024` to be rounded as 1024,  not bumped up 2048.

[2020-02-27 15:30] gandro opened #161 "`GetEventsChannel` buffer size too small embedded Hubble"
The current default is too small for embedded Hubble. From https://github.com/cilium/cilium/pull/10238/files#r385174692:

[2020-02-27 16:34] Rolinh commented on #160
Note that this is due to ring buffer implementation details: even if max flows number is changed to not appear rounded to the next power of 2 to the user, unless the ring implementation is changed, the ring buffer will still be allocated with a size rounded to the next power of 2.
Ultimately, I don't think that this is so trivial to fix so I'd remove the `good-first-issue` label.

[2020-02-27 16:47] #150 closed

[2020-02-27 18:12] glibsm commented on #160
I think there is an easy way out of here where we treat 2*n-1 and 2*n as actual 2*n-1 capacity. I certainly wouldn't expect `1024` to be upgraded to `2047` in reality, if that makes any sense.

We don't need to modify the actual internals that much, just how we interpret this one-off thing (one off is due to us needing a mask of 1s that covers the entire capacity)

[2020-02-27 18:44] #155 closed

[2020-02-27 19:41] glibsm commented on #138
Interesting idea.

@shaikatz are you able to provide a higher res image if it's not confidential? It's hard to see where the lines are pointing to.

[2020-02-27 21:11] glibsm opened #164 "move hubble specific code from `pkg/*` to `internal/*`"

[2020-02-27 21:44] Starblade42 commented on #41
I'm having a similar problem to Alex, but we've had a **definitely** working deployment of Cilium on our clusters for months. (20 clusters and counting!).

`cilium observe` on one of the `jobs-demo` nodes:

[code]
`172.16.0.0/16` is our pod overlay network. `10.0.0.0/8` is our node network, `192.168.0.0/16` (or whatever the convention is) is our Cluster IP IP space.

I'm seeing the forwarding mess

[2020-02-27 21:56] glibsm commented on #41
Seems like there are two separate issues being reported here:

1. Not seeing the flows (cli and UI, original report)
2. Not seeing service map (but seeing flows, report from @Starblade42)

At first glance, it doesn't seem like the two are related but both are important to figure out.

[2020-02-27 22:01] Starblade42 commented on #41
I think that's accurate. Here's the hubble-ui logs:
[code]

I'm not seeing any errors dump in the web inspector console. Just:
[code]

[2020-02-28 05:35] geakstr commented on #41
@Starblade42 try to enable showing kube-dns flows under View options on the top bar. Do you use jobs app example (https://github.com/cilium/hubble/blob/master/tutorials/deploy-hubble-servicemap/README.md) as is?

[2020-02-28 22:56] Starblade42 commented on #41
I'm using the jobs example as is, and changing the view options didn't change anything BUT! my colleague pointed out this detail:
`monitor-aggregation` was set to `none`.

I've updated that to `medium`. This has vastly improved the behavior of the UI.

So, in short, `RTFM`:

(set `monitor-aggregation: medium` )[https://github.com/cilium/hubble/blob/533644dec9baa51c2f3b46b1ee9182db36c8c5b5/Document

[2020-03-01 15:42] shaikatz commented on #138
It's confidential.
But it's very simple to explain.
All the services inside the green box are actual workloads in some namespace.
All things outside are Prometheus servers / nginx that interact with those services.

If I want to understand the relations between the workloads inside the green box, it's currently impossible.

[2020-03-02 13:52] gandro commented on #161
Note: While the Hubble side has been merged, the Cilium change still has to be done.

[2020-03-02 19:13] michi-covalent commented on #161
i'll take care of it

[2020-03-08 18:17] uipo78 opened #180 "Unable to load UI. `Error: getaddrinfo EAI_AGAIN`"
When I port-forward the `hubble-ui` service and try to load the UI in a browser, the following happens:
* the web page remains stuck on the "The application is loading, please wait..." page.
* the logs of the `hubble-ui` pod show the following message:
[code]

[2020-03-08 20:25] alex1989hu commented on #52
👍

[2020-03-09 23:26] CH-anhngo commented on #125
Hey @geakstr yes. It works fine inside hubble-ui pod.

[2020-03-10 10:48] olemarkus opened #184 "Add app.kubernetes.io/name as candidate label for endpoint names"
Hubble does not consider `app.kubernetes.io/name` label as candidate for endpoint name. This label is recommended in https://kubernetes.io/docs/concepts/overview/working-with-objects/common-labels/

[2020-03-10 17:06] tgraf commented on #97
This has been merged into Cilium via https://github.com/cilium/cilium/pull/10238

[2020-03-10 17:06] #97 closed

[2020-03-11 20:04] gandro commented on #161
Closed via https://github.com/cilium/cilium/pull/10488

[2020-03-11 20:04] #161 closed

[2020-03-12 10:05] gandro commented on #82
Closing via #177

[2020-03-12 10:05] #82 closed

[2020-03-12 17:54] geakstr commented on #180
Thanks for reporting @uipo78 I'm trying to investigate where is the problem. There are known issues with node.js/dns I found this for example https://github.com/googleapis/google-api-nodejs-client/issues/761

Can you setup something like `UV_THREADPOOL_SIZE: 32` env var for hubble-ui? Just to prove that this is the exact problem.

[2020-03-12 19:14] geakstr commented on #125
@CH-anhngo just checking, what do you have from these:

- `KUBECONFIG` env var inside hubble-ui
- `~/.kube/config` file
- `SERVICEACCOUNT_TOKEN_PATH`/`KUBERNETES_SERVICE_HOST`/`KUBERNETES_SERVICE_PORT` env vars

[2020-03-12 22:51] masterkain commented on #52
I'm also kinda confused by the installation method.

https://github.com/cilium/hubble/blob/master/Documentation/installation.md

doesn't mention helm

https://github.com/cilium/hubble/blob/master/Documentation/metrics.md

and this page above does. so I have a hubble installation but how to install metrics in this case?
are there helm installation instructions?

[2020-03-12 22:57] michi-covalent commented on #52
hi @masterkain

the default minikube yaml file is generated using helm with some default metrics:

https://github.com/cilium/hubble/blob/a6feb58d66c9aaa8874b925cffcdf20564edd034/tutorials/deploy-hubble-servicemap/hubble-all-minikube.yaml#L180

so if you follow https://github.com/cilium/hubble/blob/master/Documentation/installation.md you already have metrics enabled. you can exec into the hubble p

[2020-03-18 21:23] michi-covalent opened #191 "flow: Add filters for source and destination endpoint identities"
this makes it easier for hubble ui to group flows by security identity. we can also add a filter to filter by security identity so that you don't need to specify all the labels.

[2020-03-18 21:30] michi-covalent commented on #191
maybe just Identity.ID is enough to start with.

[2020-03-18 21:55] michi-covalent commented on #191
... i don't know how i missed that we already have the id field:
[code]
i guess the id field is not set for reserved entities. will look into it a bit.

[2020-03-18 22:04] michi-covalent commented on #191
ok so "1" for reserved:host is supposed to be an ID and not identity. from cilium's endpoint API:
[code]
i'll fix it so that we can consistently use the ID field.

[2020-03-18 22:13] michi-covalent commented on #191
... well i guess `"id"` in the cilium endpoint corresponds to the "identity" field in hubble flow. i'll add filters for source and destination identities.

[2020-03-18 23:19] gandro commented on #191
Having filters on the endpoint id would also be useful to match parity with `cilium monitor` (which has `--related-to` filters for the endpoint id as well).

[2020-03-19 20:20] #191 closed

[2020-03-23 11:42] aanm opened #197 "Panic in EqualsByID"
[code]

[2020-03-23 11:45] aanm opened #198 "helm charts pointing to tag "latest""
It seems the helm charts are pointing to tag "latest". We should pin it to a specific version and change the image pull policy to `IfNotPresent`

[code]

[2020-03-23 11:47] gandro commented on #198
Duplicate of #71

[2020-03-23 11:47] #198 closed

[2020-03-24 15:07] glibsm opened #201 "0.5.0 incorrectly reports 0.0.0 version"
https://github.com/cilium/hubble/blob/master/pkg/version.go#L18

[2020-03-24 17:00] #197 closed

[2020-03-24 22:16] CH-anhngo commented on #125
Now we got something like this in the hubble-ui logs:
[code]

[2020-03-25 08:22] #201 closed

[2020-03-25 17:52] ivanayov opened #204 "Support custom connection metrics from Prometheus"
Hello,

I had a look at the project tutorials/documentation/code and it looks like a good solution for our use-case, but I'm not sure if it's compatible with our API/tools. Any feedback and guidance from the community are highly welcome.

[NetworkServicemesh](http://networkservicemesh.io) is a project that creates L2/L3 connectivity between pods, based on gRPC. For each pod-to-pod connection, we e

[2020-03-27 21:31] Starblade42 commented on #71
Now there's a tag for a version of some kind! Thanks. Closing.

[2020-03-27 21:31] #71 closed

[2020-04-01 19:22] asubmani commented on #125
I am running into the same issue with AKS 1.15.7 and Cilium 1.7.1 and latest hubble.

I can ssh into the hubble-ui pod but did not find any ~/.kube/config file... (maybe psp might block)

Also, does the hubble-ui pod need to run as root?

In my case after refreshing, I can occasionally see the namespace. However it disappears in the next refresh

[2020-04-01 21:28] asubmani commented on #180
I can't find any variable named `UV_THREADPOOL_SIZE` if I kubectl exec to the hubble-ui pod? where are we supposed to change this setting?

[2020-04-01 23:59] praveensastry commented on #180
@asubmani `UV_THREADPOOL_SIZE` is a NodeJS option(Ref: https://nodejs.org/api/cli.html#cli_uv_threadpool_size_size). One way to set that is by passing this as an ENV var here https://github.com/cilium/hubble/blob/master/tutorials/deploy-hubble-servicemap/hubble-all-minikube.yaml#L249. Hope this helps.

[2020-04-02 08:49] geakstr commented on #180
@asubmani you can do `kubectl edit deployment hubble-ui -n kube-system` (or your namespace if hubble-ui deployed into different namespace) and set `UV_THREADPOOL_SIZE` var into `env` section on the fly

[2020-04-02 09:18] gandro commented on #204
Hi @ivanayov! A common problem with connections not being discovered is that the pods themselves are not managed by Cilium yet, therefore we don't get any flow information.

If you installed Hubble/Cilium after NSM, you will need to restart the NSM pods. We have a script for that. See https://docs.cilium.io/en/v1.7/troubleshooting/#ensure-pod-is-managed-by-cilium for details.

[2020-04-02 19:54] asubmani commented on #180
I managed to create the `UV_THREADPOOL_SIZE`  env variable in the hubble-ui deployment as @geakstr  mentioned. I tried "32", "64" and now "128".

AKS has AAD+K8s rback integrated
kubectl is using admin context (assuming that hubble reads from ~/.kube/config)

Hubble-ui logs show

[code]

[2020-04-06 09:51] gandro opened #215 "goroutine leak in GetFlows request"
We are passing down `server.Context()` to the flow reader here:
https://github.com/cilium/hubble/blob/bbfe90eb6484a2a462b71e85fb6dc3d6c6311de9/pkg/server/local_observer.go#L260

This however is wrong. The flow reader spawns goroutines to implement `follow` requests. These goroutines must be terminated once the request is finished, which is achieved via context cancellation:

https://github.com/cil

[2020-04-06 15:52] #215 closed

[2020-04-07 18:27] marcosnils opened #219 "[FEATURE] Visualize node probes as directed grahps"
Following the discussion started here https://cilium.slack.com/archives/CQRL1EPAA/p1586200540018400 I'd like to propose adding a feature to hubble to query the `probe` endpoint and visualize the `health status` information in a probably directed network graph.

Any ideas about visualizations or open source tools that can be used to add this feature are much appreciated. What I know and used in the

[2020-04-09 17:52] seanmwinn opened #227 "Helm Chart: Incorrect versions in values.yaml"
[code]

expected results: v0.5.0 tagged container deployed
actual results: latest tagged container deployed

[code]

expected results: latest tagged container deployed
actual results: v0.5.0 tagged container deployed

[2020-04-10 16:24] glibsm commented on #227
Fixing 0.5 to have 0.5 is a chicken and egg issue, but can be resolved by changing the template to have 0.5 tag right before it's released.

For master we can change back to `:latest`

[2020-04-13 20:48] seanmwinn opened #230 "Helm: Setting cri.runtime to any runtime results in --cri-endpoint unknown flag error"
[code]

Tested with docker, contained, crio and any/all values result in the same error message.

Was support for customizing the cri socket path removed?

[2020-04-14 08:57] gandro commented on #230
Yes. We can remove the option from the helm chart in the 0.5 branch I guess.

For `master`, it doesn't make sense to keep the server-side Helm charts around for much longer anyways, since almost everything got moved to the cilium/cilium repository (the Helm chart move is the only thing still WIP).

[2020-04-14 20:34] matej-g commented on #158
I see this code has been moved over after #220, is this still a valid issue? If so, I'd like to take it (perhaps over at Cilium repo)

[2020-04-15 09:21] gandro commented on #158
It's still a valid issue, and yes it would have to be done on the Cilium repository.

I would like to mention however that we do not want to do any breaking changes to the gRPC API right now. However, if I read https://developers.google.com/protocol-buffers/docs/encoding correctly, then changing an integer size does not break the wire-format. Therefore, fixing the integer sizes should be okay!

[2020-04-21 08:56] llussy opened #238 "network: unable to connect to Cilium daemon"
**I would like to ask how to clean up the cilium environment**

**[I follow the official documentation](https://github.com/cilium/hubble/blob/master/Documentation/installation.md)**

[code]

[code]

After that, I found that all my pods cannot be created properly.
about cilium crd,I have deleted. Do i need to delete anything？

## Error message
[code]

[2020-04-21 08:57] llussy commented on #238
How do I get him not to use it **Cilium** ？ Thank you.

[2020-04-21 09:05] Rolinh commented on #238
Are you trying to run Hubble without Cilium? This is not possible, Cilium is a requirement for Hubble.

[2020-04-21 09:13] llussy commented on #238
![image](https://user-images.githubusercontent.com/18432966/79847860-e70dff80-83f2-11ea-91fd-c1825cba0df1.png)
I followed the documentation only for the first step，Now my entire environment is abnormal and cannot create pods properly.

I want to ask for a way to empty Cilium environment？ I delete this yaml and crd. my environment is still abnormal.

[2020-04-21 09:21] gandro commented on #238
It's hard to say what exactly is broken without more details. The quick install is intended for sandbox environment. If you have sophisticated setup, you will need to follow the linked `Install instructions` guide.

To perform a proper cleanup and removal of Cilium, you can try to re-deploy the Cilium 1.7 chart via Helm with the following arguments. It will perform a cleanup of the nodes without a

[2020-04-21 09:30] llussy commented on #238
**My helm is also abnormal** テ_デ
[code]

[2020-04-21 09:44] gandro commented on #238
This is expected with Helm 2. However, we highly recommend you use Helm 3, as it does not require tiller.

[2020-04-21 09:59] llussy commented on #238
My environment is not working anymore, there should be something related to cilium  not deleted.
I now want to delete everything about cilium, first restore my environment.

[2020-04-21 10:02] gandro commented on #238
If you run the above `helm install` command with Helm 3, then Cilium will try to restore the environment or you. Once that succeeds, you can remove Cilium again. Just deleting the Cilium DaemonSet is not enough to uninstall it!

[2020-04-21 18:01] glibsm commented on #197
Fixed in `0.5.1`

[2020-04-22 00:57] llussy commented on #238
Now normal，I found `/etc/cni/net.d/05-cilium.conf` and I deleted it on all nodes，`systemctl restart kubelet`,The cluster is back to normal. thank you.

[2020-04-22 00:57] #238 closed

[2020-04-23 17:06] glibsm opened #242 "Document the release process"
There is currently no checklist before releasing a new version, which is error-prone.

Cilium release docs for reference: https://docs.cilium.io/en/latest/contributing/release/stable

[2020-04-24 17:47] michi-covalent opened #244 "Update deploy-hubble-servicemap/README.md"
start using cilium embedded hubble

---

the readme current points to cilium config file where embedded hubble is off

[2020-04-24 18:21] michi-covalent commented on #244
link to the readme file https://github.com/cilium/hubble/blob/master/tutorials/deploy-hubble-servicemap/README.md

[2020-04-24 18:31] glibsm commented on #244
https://raw.githubusercontent.com/cilium/cilium/master/install/kubernetes/quick-install.yaml points to config with hubble off though, no?

[2020-04-24 18:36] michi-covalent commented on #244
yes, hubble needs to be turned on with the helm option. also needs to open up a tcp port with `hubble-listen-addresses` so that the UI can connect to hubble.

[2020-04-26 19:45] matej-g commented on #158
Thanks for the confirmation, and sorry for the delay!

Indeed, this change should not be breaking - https://developers.google.com/protocol-buffers/docs/proto3#updating

Opened a PR https://github.com/cilium/cilium/pull/11161 - would appreciate feedback!

[2020-04-27 12:25] #158 closed

[2020-04-29 09:44] gandro commented on #242
Related: It would also make sense to upload docker images of released versions to `docker.io/cilium/hubble` as part of the release process.

Currently, we only have the images on quay, but other images (like `hubble-relay`) will be on hub.docker.com as they are part of the Cilium release process.

[2020-04-29 20:16] michi-covalent opened #251 "observe response is empty if --since goes back beyond the ring buffer time range"
to reproduce this, try running something like:
[code]
and keep going back in time (20m, 30m, etc..) until flows stop showing up.

[2020-04-30 09:11] Ruilkyu opened #252 "hubble-grpc.kube-system.svc.cluster.local"
"err":{"message":"getaddrinfo EAI_AGAIN hubble-grpc.kube-system.svc.cluster.local","locations"

[2020-04-30 09:26] Rolinh commented on #252
I assume this is a bug report? Information about the context in which this occurs, the version of hubble this affects and how hubble was deployed would help. I'll close this issue for now as we can't do much on our end with so little information.

[2020-04-30 10:00] Ruilkyu commented on #252
git clone https://github.com/cilium/hubble.git --branch v0.5
cd hubble/install/kubernetes

helm template hubble \
    --namespace kube-system \
    --set metrics.enabled="{dns:query;ignoreAAAA;destinationContext=pod-short,drop:sourceContext=pod;destinationContext=pod,tcp,flow,port-distribution,icmp,http}" \
    --set ui.enabled=true \

[2020-04-30 11:45] Rolinh commented on #251
Issue #131 is probably related.

[2020-04-30 15:44] #251 closed

[2020-04-30 16:48] Rolinh commented on #131
@michi-covalent I believe this is what happens:
First, [`newRingReader()`](https://github.com/cilium/cilium/blob/c6fa3f9f8b4b658f693f1ecd49539095dd584324/pkg/hubble/observer/local_observer.go#L428)  positions the offset to match the request parameters. Then, the [`flowsReader()`](https://github.com/cilium/cilium/blob/c6fa3f9f8b4b658f693f1ecd49539095dd584324/pkg/hubble/observer/local_observer.go#L3

[2020-04-30 17:04] glibsm opened #253 "Add observe all"
`hubble observe --all` is more friendly to get the whole buffer rather than something like `hubble observe --since 100h`

[2020-05-04 11:05] gandro commented on #131
I think I see similar issues (albeit with `follow`) when trying to write CI tests.

@Rolinh I agree that the check for events which are "too new" might too eager. However, the issue also seems to occur with `--last N`, where we don't have time ranges.

[2020-05-04 11:18] gandro commented on #131
Another (potentially related) observation: `hubble observe --last 10000` works for a non-full ring-buffer, even if there are less than 10000 flows available. `hubble observe --follow --last 10000` on the same ring buffer however does not return anything.

[2020-05-04 13:13] gandro commented on #131
Another observation: There is also a fundamental problem that requests which are supposed to dump all flows (e.g. `hubble observe --since 10000h`) are very likely to fail due to a concurrent write invalidating the oldest entry and therefore requiring the reader to abort the request.

[2020-05-04 13:18] Rolinh commented on #131
I think that for requests that dump all flows, we should look at #253 as it makes more sense overall (I'm not dismissing the issue though).

[2020-05-04 16:30] michi-covalent commented on #131
related to #253, if the fix for this is not trivial, i'd suggest adding an optional flag to the GetFlowsRequest:
[code]
this will not change the current behavior, but if this flag is set, we can traverse the ring buffer without rewinding.

[2020-05-04 19:30] glibsm commented on #131
To add another repro case, there are four L7 flows in the buffer, going to `--last` over 4 results in no flows (rewind too far stops?)

[code]

[2020-05-05 19:46] uipo78 commented on #180
Sorry for being unresponsive for so long.

The original error persists after setting the `UV_THREADPOOL_SIZE` environment variable to `32` (as well as after setting the envvar to the other values attempted by @asubmani)

[2020-05-05 19:49] Rolinh commented on #252
Closing as duplicate of #180

[2020-05-05 19:49] #252 closed

[2020-05-05 20:18] glibsm commented on #253
Should be tackled after https://github.com/cilium/cilium/pull/11323 lands

[2020-05-06 12:12] #131 closed

[2020-05-06 20:58] uipo78 commented on #180
I should've also mentioned that this error only occurs once you've enabled visibility for HTTP and DNS traffic.

[2020-05-12 17:33] michi-covalent commented on #180
@uipo78 sorry for the late response. could you tell us how you are enabling visibility for HTTP and DNS? it's possible something is getting blocked accidentally because of the visibility policy.

[2020-05-14 01:46] uipo78 commented on #180
By applying these network policies: [http visibility](https://github.com/cilium/hubble/blob/master/Documentation/http_visibility.md) and [dns visibility](https://github.com/cilium/hubble/blob/master/Documentation/dns_visibility.md).

[2020-05-14 03:06] michi-covalent commented on #180
than you for the update @uipo78 i'll try to reproduce this in my environment tomorrow.

[2020-05-14 17:56] michi-covalent commented on #180
ok so the issue seems to be that hubble-ui is failing to resolove a dns name:

[code]

this is most likely caused by the dns policy (not the http policy), but it's not quite clear why the dns lookup is failing. could you try doing a few dns lookups from the hubble pod (it should have the nslookup already installed) and see if it works? you can also try deleting the dns policy and see if you see a

[2020-05-14 19:01] uipo78 commented on #180
I can confirm that:
* `nslookup` fails due to timing out (this should've been a hint to me) when the policy is in place
* `nslookup` succeeds when it's removed and the weird behavior in the UI doesn't exist
* kube-dns is listening on port 53

Here's the output of `kubectl describe pod -n kube-system -l k8s-app=kube-dns` just in case you'd like to see more:
[code]

[2020-05-14 20:00] tgraf commented on #180
@uipo78 Does restarting kube-dns resolve the problem?

[2020-05-14 20:04] uipo78 commented on #180
@tgraf It doesn't.

[2020-05-14 20:18] tgraf commented on #180
@uipo78 Can you show the policy you put in place?

[2020-05-14 20:19] uipo78 commented on #180
https://github.com/cilium/hubble/issues/180#issuecomment-628336579

[2020-05-14 22:52] michi-covalent commented on #180
thanks for the info @uipo78 this is very helpful. we might be able to troubleshoot this using hubble itself :)

could you try running `hubble observe` in a separate terminal like this:
[code]
and then try the nslookup again:
[code]
in my minikube environment where the dns policy is working, i get output like this:
[code]
given that dns requests are getting stuck in your environment, i'm assuming y

[2020-05-14 23:00] michi-covalent commented on #180
also there is a troubleshooting guide for dns related issues with some sample CLI commands: https://github.com/cilium/hubble/tree/v0.5/tutorials/troubleshooting-dns-resoluton

[2020-05-15 15:20] uipo78 commented on #180
Here are the results. I totally was expecting dropped flows as well, but that oddly doesn't appear to be the case. I wonder why my flows show generic UDP traffic instead of anything DNS-related too.

No CiliumNetworkPolicy in place [(JSON version)](https://gist.githubusercontent.com/uipo78/3d60bf481b91d941030a8307b052ec78/raw/8772cf1b1dc3e606f034eac6b6a686229ea2138b/no-ciliumnetworkpolicy.json):
[

[2020-05-15 17:02] michi-covalent commented on #180
@uipo78 thank you! this is interesting.

from the output it seems that hubble components are installed in `hubble` namespace. we can double-check if the dns policy is selecting appropriate endpoints by running 2 commands:

1.
[code]
in my case hubble components are running in kube-system namespace, so the cilium network policies should also be in kube-system namespace. in your cluster, these polic

[2020-05-15 18:40] uipo78 commented on #180
1. The HTTP and DNS visibility cilium network policies are in the correct namespace.
[code]

2. Woa, it appears that all of our cilium endpoints (not just the ones shown here) don't have a boolean registered for the two enforcement columns.
[code]

[2020-05-15 21:59] michi-covalent commented on #180
@uipo78 ok something is definitely wrong :)

i think at this point i need help from people more familiar with cilium. cilium has a "sysdump" tool that saves log and state of the cluster for offline troubleshooting. could you run:

[code]

and post the output here?

https://docs.cilium.io/en/v1.7/troubleshooting/#automatic-log-state-collection

[2020-05-18 14:55] uipo78 commented on #180
[Here's the output.](https://github.com/cilium/hubble/files/4644836/cilium-sysdump-20200518-094655.zip)

Thanks for your help with this. I really do appreciate it.

[2020-05-18 17:58] michi-covalent commented on #180
not sure if it's relevant, but i'm pasting an error i saw in the sysdump output:

[code]

[2020-05-18 18:04] michi-covalent commented on #180
maybe it's related to https://github.com/cilium/cilium/issues/11517 cc @joestringer

[2020-05-18 19:07] joestringer commented on #180
@michi-covalent That error by itself is not indicative of the error, it only tells us which kernel is running in the cluster. To determine whether it's the same as https://github.com/cilium/cilium/issues/11517 , we would need to compare the various symptoms reported on the other issue and check that they are the same. In particular the cilium monitor output, ipcache, etc.

[2020-05-18 20:26] michi-covalent commented on #180
hmm i guess it's not the same issue. in this case there are no drops, it's just that dns traffic is not forwarded to the dns proxy. i'll look around a bit more.

[2020-05-19 17:23] michi-covalent commented on #180
@uipo78 we are trying to reproduce this on an AKS cluster on our side. it might take some time to get things set up, but i'll keep you posted here. thank you for all the information you provided!

[2020-05-20 11:03] Rolinh commented on #76
This issue is no longer relevant now that hubble server is embedded into the cilium agent.

[2020-05-20 11:03] #76 closed

[2020-05-22 08:49] Rolinh commented on #94
Hubble server's code is now in Cilium's repo and the CI already includes hubble tests (that also make use of hubble CLI).

[2020-05-22 08:49] #94 closed

[2020-05-22 16:55] michi-covalent commented on #180
@tgraf you mentioned something about chaining mode with azure. could you add your comment here?

[2020-05-26 17:04] dharmab opened #264 "Hubble sometimes panics due to invalid memory address"
`kubectl describe`:

[code]

`kubectl logs`:

[code]

[2020-05-26 17:23] Rolinh commented on #264
Which version are you running? This has been fixed in v0.5.1.

[2020-05-26 17:27] dharmab commented on #264
0.5.0. I did check the releases tab but the 0.5.1 notes didn't mention this: https://github.com/cilium/hubble/releases/tag/v0.5.1

I'll update to 0.5.1!

[2020-05-26 17:28] #264 closed

[2020-05-26 17:54] danwent opened #265 "Rate-limits / Circuit-breakers to limit Cilium API calls made by Hubble"
This issue is specific to Hubble with Cilium 1.7 and earlier, and is not relevant for embedded Hubble in Cilium 1.8 .

Hubble fetches metadata (e.g., identity labels) for src + dst of each flow via the cilium APIs. This means the number of API calls it make to cilium can depend on the set of flows that appear on a node, and the identities associated with those flows.   Hubble caches this flow data

[2020-05-26 18:48] glibsm commented on #265
Seems like case (2) is the leading cause of (1) and addressing this through a global limit of requests will actually have other unintentional consequences, like preventing real ips from being resolved in live flows because a bad IP has used up the entire quota.

I think starting with (2) and implementing back-off on failed lookups of the same IP is probably a good first step and then we can get so

[2020-05-26 18:52] Rolinh commented on #264
Yes, we indeed don't have proper release notes. I'm pretty sure your report is a duplicate of #197 which is fixed in v0.5.1

[2020-05-27 07:24] tgraf commented on #265
Yes, I was about to propose this as well. If we limit per IP with a burst setting, then the side effects are a lot less. It will make it a lot harder to find a good default setting though.

[2020-05-27 19:48] michi-covalent opened #266 "filter by node names"
with multi node filtering by node names will become handy

[2020-05-27 20:10] michi-covalent opened #267 "print node status in observe output"

[2020-05-27 21:13] glibsm commented on #267
Something like this https://github.com/cilium/hubble/pull/260 or different?

[2020-05-27 22:05] michi-covalent commented on #267
how did i miss this

[2020-05-27 22:05] #267 closed

[2020-05-30 07:07] maci0 opened #276 "Error: 13 INTERNAL: Failed to parse server response""
Installed with

[code]

ui doesn't work

[code]

cli works fine
[code]

[2020-06-01 17:49] glibsm commented on #265
We'll get this into 0.5.2

[2020-06-01 17:49] #265 closed

[2020-06-01 18:01] glibsm opened #277 "TraceToLxc is not handled properly"
Definitely encountered this in `-o json`, not sure if this is also affecting other printer formats

cilium uses iota for `TraceToLxc` segment, which during decoding gets assumed as default empty value and thus ommitted.

iota:
https://github.com/cilium/cilium/blob/450c79ce5e2fbdeb32833df45c04bd529ff6ff4b/pkg/monitor/api/types.go#L135

parser decode:
https://github.com/cilium/cilium/blob/3d57190d73

[2020-06-02 15:43] gandro commented on #164
Since most of the code has moved to `cilium/cilium`, this is not as relevant anymore.

[2020-06-02 16:19] #164 closed

[2020-06-02 17:48] gandro commented on #253
We probably also want to use it in Cilium CI, e.g. here: https://github.com/cilium/cilium/blob/e29e5ae34e01f266ec6b22c1454194131220440b/test/helpers/cons.go#L307

[2020-06-03 01:37] maci0 commented on #276
That seems to work, thanks

https://github.com/cilium/cilium/blob/v1.8.0-rc2/install/kubernetes/cilium/values.yaml needs some reworking too I guess :)

[2020-06-03 04:54] michi-covalent commented on #276
yes, we are still cleaning up the helm chart: https://github.com/cilium/cilium/pull/11757, and the documentation needs to be updated as well :)

[2020-06-03 04:54] #276 closed

[2020-06-03 15:15] uipo78 commented on #180
Is there anything else that I can do for this (file a separate issue on the Cilium pertaining to my problem, etc)? I *really* want to be able to use Cilium at my company, but I'm afraid that we're going to have to look for alternatives soon if we can't resolve its problems on our Azure clusters (a big :((((((( ).

[2020-06-03 17:58] danwent opened #282 "Docs: clearly state that Hubble with Cilium <= 1.6.x is not supported."
For example, https://github.com/cilium/hubble/blob/master/Documentation/installation.md, currently states 1.6.3 as a minimal version.

[2020-06-03 18:17] michi-covalent commented on #180
hi @uipo78 sorry i've gone silent for a long time. i'm trying to find somebody who can provide a better explanation for the state of cilium's azure support.

[2020-06-03 18:21] uipo78 commented on #180
Thanks!

[2020-06-03 19:13] tgraf commented on #180
@uipo78 We recently fixed an issue that could be related here, it would also affect chaining modes: https://github.com/cilium/cilium/pull/11819.

Also, starting with 1.8, we have a new Azure mode documented here: https://docs.cilium.io/en/latest/gettingstarted/k8s-install-azure/ which provides a much more reliable way of running on top of Azure. It is what we recommend using going forward. 1.8.0-r

[2020-06-03 19:23] glibsm commented on #282
https://github.com/cilium/hubble/pull/283

[2020-06-03 19:23] #282 closed

[2020-06-03 20:26] uipo78 commented on #180
@tgraf Awesome thanks! I'll go ahead and install `1.8.0-rc2` on my cluster, and close this issue out of that resolves this issue's original problem.

[2020-06-03 22:41] fredhsu opened #284 "Provide URL generation and cross launching via pod annotations"
I would like to be able to provide a URL to a external tool by annotating a pod, and see the URL show up in the Hubble UI to enable cross launching. In this use case it would be helpful to be able to combine data from multiple annotations to generate the final URI. For instance if the pod is annotated with `url=http://www.github.com` and `endpoint=cilium`, you could combine them to the full `http:

[2020-06-04 19:08] carlosjgp opened #288 "Fail to deploy Hubble from branch v0.6"
From your change logs
https://github.com/cilium/hubble/blob/v0.6/CHANGELOG.md

[code]
https://github.com/cilium/hubble/pull/263/files

Output from the container
[code]

Helm values
[code]

Rendered Daemonset
[code]

[2020-06-04 21:50] glibsm commented on #288
`hubble serve` has been merged into the cilium process. Enable the `enable-hubble` key in the cilium helm template

[2020-06-05 10:21] olemarkus commented on #41
Have the same issue with flows not being shown under the service map. Service map works just fine. Happens almost always if I switch to only showing dropped flows (dropped flows are showing in "all" the few times "all" is working).

[2020-06-09 22:01] michi-covalent opened #292 "release artifact naming and documentation"
i propose we remove version from the artifact name. this makes it easier to point to the latest release without knowing the latest release version. for example, we can do:
[code]
instead of:
[code]
you can still choose to download a specific release:
[code]
and then update the installation instructions accordingly.

[2020-06-10 01:32] #292 closed

[2020-06-11 10:56] Hades32 commented on #288
This seems also to be broken in the Helm template. Changing the image tag to 0.6.0 leads to this
[code]

[2020-06-11 12:02] Rolinh commented on #288
@Hades32 With Cilium 1.8, Hubble server is embedded into the Cilium agent and not deployed as a DaemonSet anymore which is why the `serve` command does not exist anymore.

The TLDR: if you use Cilium v1.7, stick to the v0.5 branch. In v0.6+, the code in this repo is just a CLI to query a Hubble server/Hubble Relay.

[2020-06-12 00:33] michi-covalent opened #298 "proposal: managing recommended hubble version in cilium doc"
# problem

right now the documentation points to the latest release https://github.com/cilium/hubble/releases/latest. this is problematic because the link simply points to the most recent release, and we cannot control which version to recommend in the cilium documentation. for example, we don't want to point to a new patch release of an older minor version.

also, we don't want to be tweaking the

[2020-06-14 15:48] Hades32 commented on #92
Is this the reason, why I only see data for DNS from the example app, but not for my own (which don't use any policies yet)?

[2020-06-14 15:53] Hades32 opened #300 "UI should prefer left2right layout"
I have a >FullHD Notebook screen and would be easily able to see simple graphs all at once, IF the layout was better adjusted to my aspect ratio.

As I guess most people have horizontal screen layouts a sensible default for the layout algo would be left2right instead of top2botton like it seems to be now.

![example image](https://user-images.githubusercontent.com/167847/84597999-e8dec700-ae67-11e

[2020-06-14 16:02] Hades32 commented on #52
I just wasted quite some time, wondering why Cilium worked and Hubble did not, when using https://helm.cilium.io/

[2020-06-15 09:13] gandro commented on #52
With the Cilium 1.8 release coming up, we will provide the Helm charts for all Hubble components for Hubble 0.6 under https://hem.cilium.io as well.

[2020-06-15 09:18] gandro commented on #92
Hard to say without more details, but this is likely the cause, yes. In order for Hubble to have visibility into L7 events of a certain pod, you currently either have to apply a DNS policy to your pod (https://docs.cilium.io/en/stable/gettingstarted/dns/), or annotate that pod with a visibility annotation (https://docs.cilium.io/en/stable/policy/visibility/).

[2020-06-15 22:28] uipo78 commented on #180
Unfortunately `1.8.0-rc2` and `1.8.0-rc3` do not pass all connectivity tests. :(

What would you all like me to do with respect to this ticket? At this point, we seem to be well outside of the scope of hubble.

[2020-06-16 18:13] errordeveloper commented on #180
See https://github.com/cilium/cilium/issues/12113, I don't think this to do with Hubble UI as such.

[2020-06-18 09:25] errordeveloper opened #303 "hubble status reports flows as NaN when used against hubble relay"
I have seen it once, not been able to reproduce, but opening the issue on @Rolinh's request.

[2020-06-18 09:26] gandro opened #304 "cli: Update description of `hubble observe`"
With the introduction of Hubble Relay, the current description of `hubble observe` in our usage is not really accurate anymore:

[code]

It's not node-local anymore and it's likely going to be much more than just BPF events with the new `GetEvents` API

[2020-06-18 09:27] Rolinh commented on #303
This can happen only if `MaxFlows` value (see [here](https://github.com/cilium/hubble/blob/f23413f886e2fb04194eb6f769decffea3cab9c4/cmd/status/status.go#L71)) is somehow `0`. Not sure how could this be but it has to be investigated on the Hubble server side.

[2020-06-18 21:20] #277 closed

[2020-06-18 21:22] glibsm commented on #39
closing due to inactivity on the issue, please feel free to reopen if still relevant

[2020-06-18 21:22] #39 closed

[2020-06-22 08:33] gandro commented on #303
@Rolinh  I have seen it as well. It can be reproduced if hubble-relay is not connected to any nodes (e.g. due to broken node connectivity). We can fix the NaN in the CLI for sure, but I'm also wondering if we should add the `NodeStatusEvent` to `hubble status` to inform clients about unavailable nodes.

[2020-06-22 11:25] Rolinh commented on #303
I think this would be a great addition! Especially since `status` should report the... well... status :)

[2020-06-22 21:06] #298 closed

[2020-06-23 15:53] jedsalazar opened #307 "Add Hubble Binaries to Package Managers"
I’m going through the kind install hubble-relay section which has users download the `darwin-amd64` image for the hubble binary on the [hubble/releases/download](https://github.com/cilium/hubble/releases) page. I’m thinking we should supply this binary in a package manager like `brew` (as well as other package managers for windows and Linux) so users automatically stay up-to-date without manually

[2020-07-02 23:14] Antiarchitect opened #312 "Failed to create gRPC client connection to peer"
level=warning msg="Failed to create gRPC client connection to peer some.dns.node.name" address="192.168.202.52:4244" dial timeout=5s error="context deadline exceeded" subsys=hubble-relay

Using Cilium 1.8.1, Hubble enabled:
[code]

But hubble-relay tries to connect not through k8s internal address but to node internal IP which is true IP in my private network.

[2020-07-03 12:28] Rolinh commented on #312
This is expected. In v1.8.1, the Hubble server component which exposes the gRPC API is embedded in the cilium agent process which is deployed as a daemonset in the host namespace (`hostNetwork: true`). As Hubble Relay needs to connect to every pod in the daemonset, the only way is through NodeIP + known port (cf: [Communicating with Daemon Pods](https://kubernetes.io/docs/concepts/workloads/contro

[2020-07-03 14:01] Antiarchitect commented on #312
Will return to this when I manage a major problem: with Cilium 1.8.1 any pod has connectivity to its own node external IP and no connectivity to other nodes. Downgraded to 1.7.6. I will fire an issue when collecting more info.

[2020-07-03 14:01] #312 closed

[2020-07-27 18:52] Rolinh commented on #303
@gandro This is implemented in #328 and in https://github.com/cilium/cilium/pull/12655 server side.

[2020-07-27 18:55] Rolinh commented on #244
I think this has been fix in #305. Feel free to reopen if not.

[2020-07-27 18:55] #244 closed

[2020-07-28 15:57] glibsm opened #329 "Adds flows/s to hubble status"
flows/s is included in `cilium status`, but not `hubble status`

[code]

[2020-07-29 00:44] joestringer opened #331 "Hubble UI shows an error "Failed to get flows: Error: Need namespace specified" when clicking on the gear icon for "Host""
![image](https://user-images.githubusercontent.com/1243336/88743515-c217df80-d0f9-11ea-96a8-ea32305ee645.png)

* `docker.io/cilium/cilium:latest`
* `docker.io/cilium/hubble-relay:latest`
* `quay.io/cilium/hubble-ui:v0.6.1`

This is probably because the host doesn't have a kubernetes namespace.

[2020-07-29 00:46] joestringer commented on #331
The same behaviour also affects `remote-node` or `world` or an FQDN name.

To reproduce, deploy Cilium + Hubble + Cilium "connectivity-check.yaml`.

[2020-07-29 07:59] #329 closed

[2020-07-29 10:35] gandro commented on #331
I have observed this as well for FQDN endpoints - @yandzee @geakstr

[2020-07-30 16:42] glibsm opened #333 "makefile: Run protoc compilation in docker"
`protoc` should not be required on the host machine, it should be versioned and used from a docker container. cilium builder already has protoc bundled in

[2020-08-11 08:38] fafucoder opened #339 "Hubble UI: websocket connection failed"
![image](https://user-images.githubusercontent.com/16442491/89875915-76346280-dbf0-11ea-9812-de3372f75f1d.png)

![image](https://user-images.githubusercontent.com/16442491/89877092-2e163f80-dbf2-11ea-965e-ae68d15651da.png)

Follow the [hubble-ui](https://github.com/cilium/hubble-ui) guide, `npm run watch` in server and `npm run start` in client, but when fresh localhost:12000, the server return we

[2020-08-11 08:43] fafucoder commented on #339
![image](https://user-images.githubusercontent.com/16442491/89876738-a7616280-dbf1-11ea-9964-4ded0004f780.png)

When i notes the websock proxy, it's work success!  what this problem?

[2020-08-12 19:10] #303 closed

[2020-08-13 16:15] seaunderwater opened #349 "hubble (cli) observe does not show traffic for a service"
Running the command: ```hubble observe --service namespace/service_name``` does not show any traffic pertaining to the service.

bottom-left: hubble observe not working when using `--service` but works fine w/ `--pod`
top-right: pod curling service in loop
bottom-right: useful info regarding the service and associated pods in the given namespace
![hubble-observe](https://user-images.githubusercont

[2020-08-13 18:15] glibsm commented on #349
@seaunderwater is this reproducible without `hubble-relay` as well? By using the CLI directly on a particular node

[2020-08-13 23:22] seaunderwater commented on #349
@glibsm I was able to reproduce without hubble relay by directly `kubectl exec` into a cilium pod and running `hubble observe.`

top-left: `k exec` into cilium pod; hubble observe not working when using `--service` but works fine w/ `--pod`
bottom-left: useful info regarding the service and associated pods in the given namespace
right: pod curling service to generate data

![hubble-observe-node](h

[2020-08-17 11:15] gandro commented on #349
Looks like the affected flows are of `Type: L7`. We currently don't support service annotations for these types of events (and thus can also not use `--service` to filter on it).

The underlying problem is that L7 events (such as the displayed  `http-request`/`http-response`) are emitted __after__ service translation (NAT) has already happened.

One option (which we have discussed in the past) is

[2020-08-17 15:34] gandro commented on #339
Thanks for the report @fafucoder! Are you using L7 policies or visibility annotations that apply to the hubble-ui pod? In that case, this might be a duplicate of https://github.com/cilium/cilium/issues/11672

[2020-08-17 17:12] ivanayov opened #350 "Hubble for vpp based connections"
Hello,

With the NetworkServiceMesh project, we create L2/L3 pod-to-pod connections.
We can see that hubble uses ebpf for the topology.
For our pod-to-pod connections, we use either a kernel or a vpp forwarder.

Is it possible to use hubble for nsm networks that use a vpp-forwarder?

Thanks,
Ivana

[2020-08-19 14:17] tiswanso commented on #350
We'd have to understand what is exported by the Hubble agent GRPC interface to determine whether it's sufficiently abstract to be able to provide the same information from Ligato / VPP.

[2020-08-20 13:55] gandro commented on #350
I'm afraid I don't fully understand the issue. While it is of course possible to re-implement Hubble's gRPC API, I don't see the point of this.

Much of the logic of Hubble (e.g. flow filtering) is implemented directly in the server component, so if one were to re-implement the gRPC API, they would also have to re-implement all of the filters.

I'm not familiar with VPP, but if it is a user-space

[2020-08-24 00:16] seaunderwater commented on #349
@gandro thank you for taking the time to respond. While your explanation regarding L7 traffic makes sense, I also cannot see any L3 traffic related to a service.

e.g. I cannot see any traffic for the following variants:
`hubble observe --service namespace/service_name` which defaults to L3 traffic.
`hubble observe --service namespace/service_name --protocol tcp`

Any thoughts on this?

[2020-08-24 08:18] gandro commented on #349
There is a second case (and only remaining) case where I know service translation information is not available to Hubble, which is when Cilium performs [socket-based loadbalancing](https://cilium.io/blog/2019/08/20/cilium-16/#socket-based-load-balancing), called `HostReachableServices` internally.

In that case, the service translation is happening early at the socket layer, before the packets rea

[2020-08-24 09:09] gandro commented on #349
Issue on the Cilium-side for the the `HostReachableServices` case: cilium/cilium#12954

[2020-08-24 18:23] seaunderwater commented on #349
In my case, the output is the following:
[code]

[2020-08-25 07:40] gandro commented on #349
Okay, in that case that sounds like a different issue then!

Is it possible for you to share the L3/L4 flows emitted when you do a curl from a pod to the service? E.g. `hubble observe -o json --pod server-error/curl`? In addition, the output of `cilium service list` would also help us troubleshoot the issue further.

[2020-08-26 11:41] mdnix commented on #86
@tgraf Is this still relevant? I'd be happy to help

[2020-08-26 11:49] Rolinh commented on #86
@glibsm This is the case for the compact and JSON outputs but I think we want to keep it in JSON output. Dict and tab output omit the node's name.

@mdnix Yes, still relevant. As @genbit suggested, it'd be nice to have a flag to display the node's name though.

[2020-08-29 19:43] seaunderwater commented on #349
@gandro here is the information you requested.

1) The last element of `cilium service list` matches the service ip of `server-error/liveness-http`
[code]

2) Attached is the output of `hubble observe -o json --pod server-error/curl` after a single request from pod to service.
[flows.json.txt](https://github.com/cilium/hubble/files/5145918/flows.json.txt)

[2020-08-31 09:33] gandro commented on #349
@seaunderwater Thank you!

It looks like the client pod (`curl-5858f4ff79-4nt8q`) seems to directly connect to the pod IP (`10.244.2.209`) after the DNS lookup returns. I don't see the service cluster IP (`10.97.237.54`) used at all. While this explains why Hubble cannot associate the service name (it performs association based on the service cluster IP), I still don't understand why your curl pod

[2020-09-03 17:03] seaunderwater commented on #349
@glibsm This is why I am confused because as you can see in the flows, the L7 query is using the service DNS name, yet "destination" resolves to pod IP.

DNS lookup resolves to the service cluster IP:

[code]

Going back to the following:

[code]

Does `XDP: DISABLED` have any kind of implication on `hubble observe --service` ?

[2020-09-07 09:01] gandro commented on #349
If (XDP acceleration)[https://cilium.io/blog/2020/06/22/cilium-18#kube-proxy-replacement-at-the-xdp-layer] is enabled, it might affect the visible service translation for NodePort/LoadBalancer services, but in your case it's a ClusterIP service.

Would you mind posting the full output of `cilium status`, to make sure we are not missing anything?

[2020-09-08 16:04] kaworu opened #359 "--namespace is incompatible with --pod"
Currently, it is not possible to give `--namespace` along with `--pod` to hubble.
[code]

An alternative way to express this is the following:
[code]

The issue with this is that `--from-pod hubble-relay` is implicitly referring to the `hubble-relay` pod _in the `default` namespace_. Here I would expect to see the the Flows from the `cilium/hubble-relay` pod.

cc @michi-covalent @gandro @nathanjsw

[2020-09-08 16:33] glibsm commented on #359
Namespace was implemented as kind of a shortcut for pod name. We can re-write the implementation to use the label instead of pod. https://github.com/cilium/hubble/blob/master/cmd/observe/observe_filter.go#L271

[2020-09-08 17:18] kAworu commented on #359
@glibsm thanks for this pointer. I think we also have to take `--service` into account, e.g. `hubble observe --from-namespace cilium --from-service hubble-relay` should work.

I could write a proposition of behaviour changes for the CLI by next week, and if approved we can get started on a PR. Sounds good?

[2020-09-08 17:23] michi-covalent commented on #359
@kAworu sounds good to me ship it 💯

[2020-09-08 17:42] glibsm commented on #359
I'm not sure what the issue is with `from-ns` and `from-service`, but at least they are not conflicting out of the box:
https://github.com/cilium/hubble/blob/fe34f3d33be9199ce638fafafdbf921e2db02aca/cmd/observe/observe_filter.go#L112

[2020-09-09 09:38] gandro commented on #359
I think we have consensus that we can change the CLI implementation of `--{from-,to-,}namespace` to be a label filter instead of a pod filter instead.

For me, the big question is how to make it so that `--pod foo` matches any pod with name `foo` in any namespace (and is not just a shortcut for `default/foo`). I see client-side and server-side solutions.

The easiest client-side fix I can think of

[2020-09-09 16:53] glibsm commented on #359
We may need something analogous to `--all-namespaces` in kubectl. It's not like you can get pods by name across all namespaces, unless you check all namespaces. Then if only the pod name is provided (we can check for `/` presence), we'd issue request across all namespaces only for the pod name.

I haven't looked into the feasibility of such approach yet.

[2020-09-10 08:39] gandro commented on #359
Very good point. It's unfortunate that in the current version, some filters like `--label`, `--ip`, `--fqdn` are querying all namespaces by default, while others (e.g. `--pod` and `--service`) can only ever query a single namespace (and use `default` if nothing is specified).

This makes me think if we should just bite the bullet and introduce a breaking change to the server-side parsing of `pod`

[2020-09-16 13:37] gandro opened #361 "Mirror hubble and hubble-ui images to docker.io/cilium/hubble{,-ui}"
Currently, we only provide the images for Hubble CLI and Hubble UI on `quay.io`. All other cilium images are mirrored both on `docker.io` and `quay.io`. This causes confusion for users, as other Hubble-related images (such as `hubble-relay`) are available on both `docker.io` and `quay.io`.

For `quay.io`, we are using the build triggers. Unfortunately, we have a policy on `docker.io/cilium` not to

[2020-09-22 09:48] Rolinh commented on #333
This was implemented in `cilium/cilium`. Closing.

[2020-09-22 09:48] #333 closed

[2020-09-24 01:03] genbit opened #363 "GetFlows/hubble observe doesn't support both --since and --follow at the same time"
I'm using hubble observe as an example, however I believe it's a problem inside GetFlows implementation, and not on a client, since hubble-ui experiencing similar issue with GetFlows API.

Currently, it's not possible to do the following command:

[code]

Expected behavior for this command would be to first return last 1m of data from buffer, than continue streaming flows to the client. However, t

[2020-09-24 12:28] Rolinh commented on #363
This happens because when specifying only `--since`, then `--until` is inferred as _now_. to to create a time range. And a time range is not compatible with `--follow` (see [this](https://github.com/cilium/cilium/blob/745a26b2ead09e689f8626413467d4083a7fa00a/pkg/hubble/observer/local_observer.go#L334)).

I think this behavior could be improved:  when `--since` is provided alongside `--follow`, don

[2020-09-25 08:02] Rolinh commented on #86
Implemented in #358, closing.

[2020-09-25 08:02] #86 closed

[2020-09-28 18:36] genbit commented on #363
btw, I'm not observing this when run cilium from master:

[code]
and run Hubble CLI from within cilium pod (on Minikube), without hubble-relay.

[2020-09-28 18:44] genbit opened #368 "Hubble-cli 0.6.1 doesn't work with both --last and --to-fqdn at the same time"
When I run hubble observe with  --to-fqdn and --last flags at the same time, I only get --follow behavior.

See attached screencast.

Hubble CLI version:
[code]

![hubble-observe-fqdn](https://user-images.githubusercontent.com/72428/94471479-1c770000-017e-11eb-96d5-3fee7191a6b6.gif)

[2020-09-28 18:46] glibsm commented on #368
It's likely that in the second case we take `--last 100` literally, before applying any filters to it, then run follow.

In the first example we added a special case to apply filters first, *then* take `last 100`.

[2020-09-28 18:56] genbit commented on #368
I can not reproduce it on
[code]

[2020-09-29 08:27] Rolinh commented on #368
@gandro I don't think the CLI version matter but the Hubble version does. Where you running these against the same Hubble versions/instances?

[2020-09-29 08:52] gandro commented on #368
Sounds like https://github.com/cilium/cilium/pull/12366 - what version of Hubble server are you using @genbit?

[2020-09-29 08:56] gandro commented on #368
Look closely at the returned flows: They are the same in all three queries, so `--last`/`--to-fqdn` seems to work correctly.

This looks to me like the problem is with `--follow`, looks to me  like Hubble Relay is not flushing the sort buffer in time @Rolinh

[2020-09-29 09:06] Rolinh commented on #368
Ah yeah, I think your analysis is spot on @gandro !

@genbit Can you try setting `sort-buffer-drain-timeout` to `0s` to Hubble Relay to confirm? This can be done by editing the `hubble-relay-config` in `master` or by adding `--sort-buffer-drain-timeout=0s` to the args if using 1.8.

[2020-09-29 22:20] #363 closed

[2020-10-01 15:10] kAworu commented on #359
# Propositions

At a high level, make hubble cli more "intuitive" by behaving like `kubectl` with respect to namespace and pod selector flags.

## 1. cli: --namespace along with --pod
[code]
Doesn't work at the moment, we get:
[code]
### proposition
Translate this into a `[source_pod:"cilium/hubble-relay"]` FlowFilter. This is analog to
[code]
Fail with an error when we get an inconsistency betwee

[2020-10-05 10:37] gandro commented on #359
@kAworu All of this makes a lot of sense to me. I especially like that you came up with a backward-compatible solution for `--all-namespaces` in 4!

Minor comment:
I strongly believe that `hubble observe --from-label io.kubernetes.pod.namespace=cilium --from-pod hubble-relay` should be translated to `[source_pod:"cilium/hubble-relay", source_label:"io.kubernetes.pod.namespace=cilium"]`, i.e. the l

[2020-10-05 18:59] genbit opened #370 "hubble-ui: should display a meaningful error if it's not able to retrieve flows from hubble"
We have been seeing several users report "flows not showing up" in hubble-ui. There could be different issues why flows not showing up:

* no flows in the selected namespace
* namespace doesn't exist anymorer
* there are flows, but they don't have labels
* there are only flows to kube-dns, and they are filtered out by default (though user can toggle the filter)
* there are no flows in cluster at a

[2020-10-06 11:59] genbit commented on #370
currently, we always show a generic error: https://github.com/cilium/hubble-ui/blob/master/src/components/App/index.tsx#L70 . We will need to  propagate error from server here https://github.com/cilium/hubble-ui/blob/master/src/components/App/DataManager.ts#L188 and show different message, depending on the text from server. Also we might show show message from server as is, as our users are sophis

[2020-10-09 11:59] Rolinh opened #379 "RFC: add support for configuration contexts"
This is a proposal to add support for configuration context to the CLI. PR #375 improved the situation with regard to config file loading and allowing configuration of global flags via the config file (or environment variables) but a configuration file is still limited to a single "environment".

Currently, one needs to have 2 config files to target 2 different endpoints (say Hubble Relay with TLS

[2020-10-13 17:27] genbit commented on #368
setting to 0s shows an error

was able to set to 10ms and it's blazing fast! 🚤

[2020-10-13 18:10] Rolinh commented on #368
We should probably reconsider our default value then. Any thoughts @gandro?

[2020-10-13 19:44] glibsm commented on #368
Blazing fast and almost guaranteed to be out of order :)

I'm thinking we should default to something around hundreds of ms to give some room for network and decoding.

[2020-10-14 08:33] gandro commented on #368
While we can consider lowering the timeout, I think there is still a bug in the logic here. There should be no reason that Hubble Relay reports one flow per `SortBufferDrainTimeout` for historic flows.

[2020-10-14 08:59] gandro opened #384 "Test the developement version of the CLI against released versions of Cilium"
Currently, we are only testing released versions of the Hubble CLI against Cilium master (and Cilium releases) in Cilium CI.

We should also start testing the development version of the CLI against Cilium 1.8 and the upcoming Cilium 1.9, to ensure PRs are not breaking compatibility with released versions of the server implementation.

We could implement this by a GitHub action that does the follow

[2020-10-14 09:20] gandro commented on #361
Fixed in https://github.com/cilium/cilium/pull/13542

[2020-10-14 09:21] gandro commented on #361
I realized that this is only fixed for `hubble-ui`, not the Hubble CLI. Reopening.

[2020-10-15 09:50] Rolinh commented on #368
When the sorting buffer is not full, a flow is drained every 1s (by default). This behavior can mostly be observed with queries that filter out a lot of flows. Setting the buffer drain timeout to 10s is definitely too low but I think that as a starter, lowering the default value from 1s to something in the range of 200ms-500ms as @glibsm suggested could be an easy improvement while we think of a m

[2020-10-19 08:21] #304 closed

[2020-10-27 12:36] Rolinh commented on #288
PR #305 added a table which summarizes versions compatibility with Cilium.

[2020-10-27 12:36] #288 closed

[2020-10-27 12:45] Rolinh commented on #242
The release process is documented since #281 landed.

@gandro How should we tackle uploading docker images to dockerhub?

[2020-10-27 12:47] Rolinh commented on #230
No longer relevant as charts moved to the cilium repository.

[2020-10-27 12:47] #230 closed

[2020-10-27 12:48] #227 closed

[2020-10-27 12:51] Rolinh commented on #107
@michi-covalent Is this still occuring?

[2020-10-27 12:59] #29 closed

[2020-10-27 13:18] gandro commented on #242
I don't think my above comment regarding the docker image on release relevant anymore: We have a quay autobuilder with automatic tags for the `hubble` container: https://quay.io/repository/cilium/hubble?tag=latest&tab=tags

We have https://github.com/cilium/hubble/issues/361 to track the docker hub autobuilder. Let's close this issue here that we the process documented.

[2020-10-27 13:19] #242 closed

[2020-10-27 16:59] michi-covalent commented on #107
i'll try it and report back 👍

[2020-10-30 16:49] #253 closed

[2020-11-01 13:27] virendrasuryavanshi opened #413 "Unable to pull image clustermesh-apiserver:latest. Gives error ImagePullBackOff"
I was checking hubble-ui for the service dependency graph feature through following the steps mentioned here for minikube https://docs.cilium.io/en/latest/gettingstarted/hubble/#deploy-cilium-and-hubble but there is an issue as one of the pod is not able to pull the image and is giving the status of `ImagePullBackOff` .
[code]

[code]

[code]

[code]

@sayboras

[2020-11-02 20:53] joestringer commented on #413
The technical issue here was that the clustermesh-apiserver image was made available via quay.io but not docker.io. I've now created the repository and configured it so that the image pull issue does not come up again.

Furthermore, the user was not aware they were following development documentation. To reduce the likelihood of future users following the wrong documentation, I've issued the follo

[2020-11-02 20:53] #413 closed

[2020-11-05 17:52] joestringer opened #415 "Hubble UI 0.7.3 is missing icons after fresh install"
I follow the v1.9.0-rc3 Cilium install instructions (for GKE environment) + hubble and hubble-ui. After browsing to the hubble UI, the icons for apps are missing.

![image (5)](https://user-images.githubusercontent.com/1243336/98277821-a5871100-1f4c-11eb-9f1d-e394972d4176.png)

[2020-11-07 05:26] bobcob7 commented on #50
I cannot seem to 'go get' this.
[code]

Perhaps this can be resolved by changing the replace entry to [v1.5.0](https://github.com/optiopay/kafka/tree/v1.5.0) in go.mod.

[2020-11-07 06:08] bobcob7 commented on #50
In case anyone else runs into this, I found that my issue was caused by the lack of git in my path.

[2020-11-16 19:34] genbit opened #428 "Verify Service Map for connectivity check"
I'm trying hubble-ui 0.7.5 with connectivity-check and here is how it's looking on a service map:

<img width="1899" alt="Screen Shot 2020-11-16 at 11 31 38 AM" src="https://user-images.githubusercontent.com/72428/99299060-836c7900-27ff-11eb-8cf9-f1ea185ac3a4.png">

I'm looking for an expert opinion to verify if this looks correct or not and if not - what's missing.

[2020-11-17 00:31] joestringer commented on #428
The intended destinations for most of these boxes is embedded into the name of the source pod, such as `pod-to-a` means it communicates with `echo-a`, `pod-to-external-fqdn` talks to an FQDN outside the cluster, etc.

Unexpected observations:
* `echo-b` is rendered outside the namespace. [echo-b is a regular pod in the namespace](https://github.com/cilium/cilium/blob/v1.9/examples/kubernetes/conne

[2020-11-17 08:27] kaworu opened #429 "Add colored output to hubble observe"
Evaluating whether adding colors to the `hubble observe` output would be a good idea
![hubble-observe-colored](https://user-images.githubusercontent.com/109415/99363120-a5740300-28b4-11eb-922a-0e035fa62ce8.png)

@joestringer noted that we used to have color support in the cilium CLI but we [removed it to drop the external dependency](https://github.com/cilium/cilium/commit/39729f31b0a06b93e22eab42

[2020-11-17 08:31] tgraf commented on #428
The reason for that is likely this:
[code]

This means that there is connectivity to a host IP that will end up in echo-b. It's still incorrect though. It's definitely a corner case as almost nobody is using hostPort. The connectivity check is using it to test pod to host connectivity.

I'm assuming this is traffic to k8s worker nodes. Depending on whether remote node identities are enabled, it wi

[2020-11-18 12:05] errordeveloper opened #430 "negative `reserved:host` filter not working along with namespace filter"
I am using Cilium version 1.9.0 and running `hubble observe` in a Cilium pod on a node with IP address `10.0.191.208`.

When I run `hubble observe --follow --ip 10.0.191.208 --not --label reserved:remote-node --not --label reserved:host` I get no results.

However, if I use a namespace filter, e.g.:
[code]

I get flows that have `reserver:host` identity, like this one:
[code]

[2020-11-18 18:24] glibsm commented on #430
What version of a hubble CLI are you using, and is this going through relay? It's possible that the CLI is not translating it into a correct filter.

[2020-11-18 18:31] glibsm commented on #430
There is a debug log for the `GetFlows` on the server side that prints the request, including all the filters. If your debug is enabled, could you fish out that line? Or if not see if you can enable the debug and post the line, please.

[2020-11-19 12:25] gandro commented on #430
No need to check the server-side. A quick `println` in the CLI itself (on master) generates the following `GetFlowsRequest` for the following CLI invocation `hubble observe --follow --namespace  openshift-ingress  --namespace openshift-console  --namespace openshift-authentication --not --namespace openshift-monitoring --not --label reserved:remote-node --not --label reserved:host`:

[code]

Seems

[2020-11-19 16:25] glibsm commented on #430
I don't think it's obvious, and I also don't think it's a problem, it's working as intended (at least as implemented).

We deliberately only have a single filter for a CLI execution (the two filter approach is only applicable due to to/from being applied to left and right filter for things like `--namespace`).

Your example shows four separate filters being constructed from that command, but that

[2020-11-19 16:30] glibsm commented on #430
I went digging through git a bit, and it looks like the initial commit that implemented the `--not` support (and a lot of other filtering) was squashed into `initial commit`. Here is part of the original commit message that I wrote.

[code]

I suppose `another time` has perhaps come :)

[2020-11-19 17:46] gandro commented on #430
Apologies if I sounded dismissive, that was not my intent. Thanks for digging up the rationale.

I agree that fixing this is probably quite involved. What you dug up makes it more clear why it behaves the way it does.

I still wonder however if there is a way to fix this (maybe even by introducing a new mini-language), because I do believe the current implementation, while certainly internally con

[2020-11-20 18:32] rolinh opened #433 "doc: improve help message with regards to how filters are applied"
`hubble help observe` currently provides the following help message:
[code]

Something crucial that is missing from the help message is an explanation about how various filters are combined together.

@michi-covalent provided a good explanation in [this PR comment](https://github.com/cilium/cilium/pull/13826#discussion_r518908339). It could be adapted/extended to explain how this applies to `hubbl

[2020-11-23 10:02] #266 closed

[2020-11-23 12:26] Rolinh opened #438 "doc: document which timestamp is used when filtering"
The relevant bit of information in [this PR comment](https://github.com/cilium/cilium/pull/14103#issuecomment-732090697) should be communicated to the user via `hubble help observe`.

[2020-11-27 15:49] geakstr opened #439 "ui: l7 info is not shown in hubble-ui 0.7 versions"

[2020-11-27 19:43] MaciejGawel opened #440 "Hubble 0.7.3 is missing http and dns metrics"
## Description

I have deployed Cilium 1.9.0 with Hubble 0.7.3. To verify network connectivity and generate some network traffic, I am using a [simple example service](https://raw.githubusercontent.com/cilium/cilium/v1.9/examples/kubernetes/clustermesh/global-service-example/cluster1.yaml).

Querying Hubble metrics endpoint returns the following content:

[code]

According to the [documentation](h

[2020-11-30 10:27] gandro commented on #440
Thanks for the report!

Given the steps to reproduce, I believe this is an issue of missing documentation, as there is an additional step required:

 For HTTP and DNS metrics to work, there is an additional step required to enable L7 visibility on the services you want to collect HTTP/DNS metrics for. To enable L7 visibility for specific pods, please follow this guide: https://docs.cilium.io/en/v1

[2020-12-04 14:56] MaciejGawel commented on #440
Thanks for the reply!

I will enable L7 visibility according to the guide. I think that resolves my issue.

[2020-12-04 14:56] #440 closed

[2020-12-05 00:45] gautvenk opened #445 "Populate promQL query in grafana json files"
The "query" field is empty in most of the grafana dashboards mentioned in https://github.com/cilium/hubble/tree/v0.5/tutorials/deploy-hubble-and-grafana. Can we include the promQL query in all the dashboards so that it's easier to consume these Json files?

Hubble release version: 0.7

[2020-12-08 08:20] maxaudron opened #450 "unable to start gops: unable to get current user home directory: os/user lookup failed; $HOME is empty"
Often times after updating cilium the hubble-ui or hubble-relay pods will fail with:
[code]

Downgrading the pod to an older version sometimes works, often times not, same when upgrading and deleting the pod.

OS: ubuntu 20.10
k8s: 1.19.3
cri: cri-o with crun

[2020-12-09 14:56] gandro opened #453 "CLI support for TCP flags filter"
Support for TCP flag filtering on the server-side has landed in https://github.com/cilium/cilium/pull/13826. This issue tracks the client side flags needed to send requests with such filters set.

[2020-12-09 15:00] Rolinh commented on #453
Regarding how this would be implemented, there was an initial proposal on  https://github.com/cilium/cilium/issues/12827#issuecomment-676512342. On one hand, I like it. On the other hand, it think it might be easy for a user to miss this functionality. It also wouldn't be consistent with e.g. the way we do it for http filters. What about adding a new `--tcp-flags` (that would imply `--protocol tcp

[2020-12-09 15:20] nyrahul commented on #453
I would like to take up this issue. Can you assign it to me?

[2020-12-10 16:44] gandro opened #455 "Add functionality to trace API calls"
To aid in debugging (but also learnability regarding the Hubble API), it would be nice to have a flag/mode for the CLI to track the API calls emitted by the CLI in a given run.

Example of a similar feature from `kubectl`:

[code]

[2020-12-12 03:00] michi-covalent opened #458 "update the cli doc for source / destination ip filter"
now they support cidr range: https://github.com/cilium/cilium/pull/14316

[2020-12-14 08:54] kaworu opened #459 "Filter on IP version (IPv4 / IPv6)"
Currently it is not possible to filter only IPv4 or IPv6 flows with the CLI.

Note that `FlowFilter` lack support for this, so a first step will be to add this filter to the Hubble observer at https://github.com/cilium/cilium. There are many example of filters, see https://github.com/cilium/cilium/blob/master/pkg/hubble/filters.

Then, the [flow protobuf](https://github.com/cilium/cilium/blob/mast

[2020-12-16 21:27] joestringer opened #460 "Improve usability around ringbuffer limits"
Some example usage of hubble:

I don't have any apps that use 8.8.8.8. Regardless, I tried to list all connections to that IP:

[code]

I'm not sure how many flows are kept in the ringbuffer or the timeline that represents, so I tried listing the last 30m:

[code]

These seem to be both derived from the error in the hubble server side around attempting to list more flows than the current ringbuffe

[2020-12-16 23:50] glibsm commented on #460
You are allowed to ask for more flows than the buffer contains. The problem is that in a chatty cluster (and a lockless buffer) there is not enough time for us to rewind the buffer and read the flows before the writer writes over them (thus producing this error).

There are fundamentally no problems with asking for `--last 100000` or `--since 100y`, apart from the timing issue described above.

`-

[2020-12-18 18:05] nyrahul commented on #459
Is there an issue in [cilium](https://github.com/cilium/cilium) to handle this? If yes, I can take it up. I recently added `tcp-flags` filter which required updating `FlowFilter` and thus have an understanding of what needs to be done.

[2020-12-21 10:08] gandro commented on #459
That would be awesome!  :rocket:

I don't believe there is a tracking issue on the server side, but it's probably also not needed. Feel free to just create a PR against Cilium with the required filter and API additions referencing this issue!

I have preliminarily assigned you to the issue to avoid other people accidentally taking this one. Do not hesitate un-assign yourself if anything comes up.

[2020-12-21 12:57] kAworu commented on #459
@nyrahul thanks for picking this up! Although I expect this to be easier than the TCP flags, don't hesitate to ping us on Slack if you have any question.

[2020-12-21 13:05] #453 closed

[2021-01-11 11:21] kaworu opened #462 "Document subtypes for the --type flag"
`hubble --help` shows only the types for the `--type`flag (i.e. `l7 agent policy-verdict drop debug capture trace`) while it also accept a subtype part.

_Originally posted by @kaworu in https://github.com/cilium/cilium/pull/14477#discussion_r551214269_

[2021-01-18 18:36] nyrahul commented on #459
@kaworu, @gandro, the issue got closed due to PR merge of cilium-side (server-side) changes. The hubble side changes are still pending. Should this be reopened?

[2021-02-19 16:50] csturgess93 opened #491 "Coredns stuck in "ContainerCreating""
Hi we are using the release version 1.9.4. and are trying to get setup with Hubble on our custom K8S cluster, but our Coredns pods are failing to start and are stuck in ContainerCreating

OS: Ubuntu 20, Kernel: 5.4.0-65-generic

`coredns-f9fd979d6-gxxd7               0/1     ContainerCreating`

Describing the coredns pod provides this:
[code]
It is complaining about: networkPlugin cni failed to se

[2021-02-20 01:02] glibsm commented on #491
@csturgess93 this issue seem like it belongs inside https://github.com/cilium/cilium repository.

cilium/hubble is used for the client-side CLI binary.

Would you mind to open it in the other repository? It will get faster and more detailed response there.

[2021-02-20 01:02] #491 closed

[2021-02-22 08:16] #331 closed

[2021-02-22 08:22] #145 closed

[2021-03-03 15:15] rolinh opened #501 "Document pod/service filter prefix behavior"
This is the current help message for the pod and service filters:
[code]

It appears that `<pod-name>` and `<service-name>` are treated as prefixes for the actual pod or service name. This allows performing queries like `hubble observe --pod cilium` to get all flows related to pods which name starts with `cilium`. This behavior is currently undocumented.

[2021-03-19 08:24] cyrilcros opened #514 "cilium-ui: show better labels"
## Proposal / RFE

**Is your feature request related to a problem?**
When looking at hubble-ui, a lot of of the boxes in the same namespace will have the same name. This looks confusing: box X  talks to box X TCP port 1234 that talks to box X TCP port 5678 etc.... When you click on a box, you get more informations from the labels, but it isn't easy to navigate at first glance.

**Describe the solu

[2021-03-22 16:26] michi-covalent opened #519 "hubble observe doesn't support `--until` without `--since`"
right now `--until` flag seems to get ignored if `--since` is not specified. i was expecting `--since` to get set to zero if only `--until` flag is specified 🤔

slack discussion: https://cilium.slack.com/archives/CQRL1EPAA/p1616170452006600

[2021-03-26 15:27] pchaigno opened #521 "Confusing names for source and destination security identities in Hubble UI"
In Hubble UI, the column for the source and destination security identities are currently called `Source Service` and `Destination Service`: https://github.com/cilium/hubble-ui/blob/1b43cefd761dae976d03b76d632147b3d3871cff/src/components/FlowsTable/general.ts#L10-L13

That's a bit confusing because:
- They seem to be security identities (e.g., `unmanaged`) and not e.g. VIPs.
- There is no such thi

[2021-03-26 16:30] pchaigno commented on #521
Discussed offline and concluded we can rename to `Source Identity` and `Destination Identity` even if not all security-relevant labels are shown.

[2021-03-29 23:48] michi-covalent opened #523 "hubble observe: support reading from json file"
say i have the output of `hubble observe -o jsonpb` saved to a file. it would be handy if i can pass the file to `hubble observe` later and somehow apply filters instead of trying to come up with equivalent `jq` queries.

[2021-03-30 08:41] gandro commented on #523
This is pretty cool idea! I think it's probably a `good-second-issue` for someone already a bit familiar with the Hubble source. We should be able to reuse most of the filter code we have on the server side (except the `--since` and `--last` filters):

https://github.com/cilium/cilium/blob/3c590925362bbf863e66b20e501eeaf08c0fda84/pkg/hubble/filters/filters.go#L31-L35

What's needed is to create `v

[2021-04-07 17:34] #523 closed

[2021-04-15 20:59] trnl opened #531 "OpenTelemetry Support"
Dear Hubble Community,

We are currently migrating to Cilium as our networking solution and are very excited to use Hubble for observability.

However, we miss one thing to be happy – OpenTelemetry (OpenTracing) support. I can see it was mentioned in the roadmap around Cilium 1.0 [release](https://cilium.io/blog/2018/04/24/cilium-10):

However, I haven't found any code/issues connected to it. I th

[2021-04-21 15:50] rolinh commented on #531
Hi @trnl and thanks for opening this issue :wave:

Would you mind detailing your use-case so that we can have a better understanding of the value proposition of such a feature?

It is also not yet clear to me what this would mean in terms of integration. Could you expand a bit on this as well please?

[2021-04-21 22:13] trnl commented on #531
@rolinh is simple - observability enhancement.

Currently, in Hubble, you have two aspects: metrics and flows. While Prometheus can consume metrics from Hubble, flows are not exported in an open standard. They are accessible just via hubble-cli and service graph in hubble-ui. They also can't be used for distributed transaction timing and analysis.

However, as I see, flows have everything to becom

[2021-04-21 22:27] trnl commented on #531
Upon writing the previous comment I realised that you still need to propane the SpanContext (Trasaction Information) somehow.
Istio requires you to propagate these headers in application code: https://istio.io/latest/docs/tasks/observability/distributed-tracing/overview/#trace-context-propagation

Besides that, with non-HTTP protocols there should be a place in the message container where clients

[2021-04-21 22:27] #531 closed

[2021-05-03 10:39] gandro opened #543 "Add `hubble observe flows` as alias for `hubble observe`"
As we start to introduce additional types of events in Hubble besides flows, we need to distinguish between the different types of events which are being observed. While we want to keep `hubble observe` for compatibility reasons, we canmake it consistent with the newly added debug and agent events by adding a `hubble observe flows` alias:

https://github.com/cilium/hubble/pull/537#issuecomment-830

[2021-05-11 11:59] rolinh commented on #41
Hubble UI has evolved a lot over a year, closing due to age. Feel free to re-open if needed.

[2021-05-11 12:02] #52 closed

[2021-05-11 12:04] #96 closed

[2021-05-11 12:05] rolinh commented on #125
Hubble UI has evolved a lot in the past year. Please, feel free to re-open if this issue still occurs.

[2021-05-11 12:07] rolinh commented on #180
There hasn't been any activity here in a long while. Assuming the issue has been resolved by now (feel free to comment/re-open if the issue is still relevant).

[2021-05-11 12:14] rolinh commented on #350
Closing due to inactivity

[2021-05-11 12:14] #350 closed

[2021-05-11 14:39] geakstr commented on #339
Shouldn't be related to newer versions. Closing

[2021-05-11 14:39] #339 closed

[2021-05-13 18:23] #429 closed

[2021-05-17 13:40] gandro opened #554 "Add support for specifying raw filters"
The current flag based filters have limitations when it comes to expressing very complex and/or queries. We should a flag

[code]

Where the JSON is of type `FlowFilter` and is appended to either the include or exclude list in the `GetFlowsRequest`.

https://github.com/cilium/cilium/blob/e95a201ffa54d05d313d048d9b61f043a397c566/api/v1/flow/flow.proto#L345-L347

I've marked this as `good-first-issu

[2021-05-17 16:30] glibsm commented on #554
My gut feeling is that it's not a `good-first-issue` but I'm happy to be proved wrong :) Perhaps I'm overestimating the complexity of getting this done.

[2021-06-06 17:33] christian-2 opened #567 "GetNodes not implemented"
Is this a occurrence of `GetNodes not implemented` (observed inside `quay.io/cilium/cilium:v1.10.0`) a  feature or a bug?

[code]

[2021-06-07 07:50] rolinh commented on #567
The `GetNodes` endpoint is only implemented by Hubble Relay. Individual Hubble instances to connect to each others and thus would not be able to show all information provided by the endpoint, as seen below:
[code]
At most, name, address and TLS info could be shown for each node.

[2021-06-07 07:52] kaworu commented on #567
When the Hubble CLI is run from a Cilium Pod, it connects to the Hubble server run by the local cilium-agent by default (i.e. unless `--server` is used or the `HUBBLE_SERVER` env variable is overridden). In that context, commands such as `observe` and `status` have a visibility limited to the Node.

The `GetNodes` endpoint is implemented by Hubble Relay, which brings multi-node visibility. There a

[2021-06-07 07:57] christian-2 commented on #567
Yes, makes sense in light of the Hubble architecture. I'll close the issue. Thx for the clarification.

[2021-06-07 07:57] #567 closed

[2021-06-11 14:19] pchaigno opened #570 "Surface the event type in ` observe -o compact`"
In the following hubble observe output, it is difficult to tell the different event types apart. For example, the third and fourth lines both look like packet drops when there's actually only one packet being dropped, the first line being the policy-verdict for that drop.
[code]
<details><summary>click to see full `jsonpb` input.</summary>

[code]
</details>

<br>

This could maybe be improved by

[2021-07-01 13:38] blankburian commented on #514
Another nice addition would be the cluster name label for clustermesh deployments.

[2021-07-14 16:33] pandarun opened #588 "Apllying http-visibility breaks OAuth requests"
Hello, after applying http-visibility

[code]

as described in [docs](https://github.com/cilium/hubble/blob/v0.5/Documentation/http_visibility.md) makes my services return 401 responses after authorization.

How can I check envoy doesn't trim Authorization headers or Cookies.

NOTE:
If I remove the policy everything works as expected.

Any help is appreciated.

[2021-07-14 20:04] glibsm commented on #588
Is it possible your service works on more than just port 80? For example, perhaps it automatically redirects to 443 or something? It's hard to say without seeing more details of the servicec.

Using `hubble observe -o json` would show you the headers.

You could also print it on the server side as you process the request.

[2021-07-15 06:14] zhiyanfoo commented on #307
Could you assign this issue to me? I have done some work already for homebrew. I might be available to work on other package manager but not guarantees.

Homebrew recommends that the formula builds the target using a tarballed source. The github release of this tarballed source omit the '.git' directory, so git commands ran in the Makefile fail.

I have two PR's that solve this issue in slightly d

[2021-07-15 08:06] rolinh commented on #307
@zhiyanfoo Awesome! I assigned the issue to you.

Option 2 is definitely the way to go as this is how it was intended to work (note that `|| printf ''` can be omitted from your patch as it's redundant).

1. The Github release tarball.
2. Opt 2, ie
[code]
3. It's not yet clear, it depends on what OS/distro most of Hubble users use. Debian is probably a good candidate as it is upstream of Ubuntu and

[2021-07-15 08:31] zhiyanfoo commented on #307
PR with https://github.com/cilium/hubble/pull/589/files with `printf ''` removed

[2021-07-15 08:33] zhiyanfoo commented on #307
With the next release I believe we can submit something like this to https://github.com/Homebrew/homebrew-core
[code]

[2021-07-15 08:51] rolinh commented on #307
@zhiyanfoo I've marked your PR for backport to the v0.8 branch so that we can release v0.8.1 with the fix.

[2021-07-15 11:06] voatsap opened #590 "Hubble observe filters "--tcp-flags ACK" logged also events with "TCP Flags: ACK, FIN" or "TCP Flags: PSH,ACK""
Dear Maintainers,

Hubble version 0.8

I need to log only "TCP Flags: ACK"

Im  using:
`hubble observe -f --server hubble-relay:80 -o json --tcp-flags ACK`

It also produces outputs with flags `TCP Flags: ACK, PSH or TCP Flags: ACK, FIN` in example:
[code]
Setting the filter to:
` hubble observe -f --server hubble-relay:80 -o json --tcp-flags ACK --not --tcp-flags SYN,PSH,FIN`
Does not help also.

[2021-07-16 14:20] geakstr opened #592 "uI: export flows as json"
Add ability to export fetched flows as json to file and download it

[2021-07-16 20:25] glibsm commented on #590
This perhaps has more to do with the cilium aggregation setting than hubble filtering. It's very unlikely that with the aggregation enabled you will ever see a flow with just ACK, since cilium will combine flags from multiple packets within the interval.

See `monitor-aggregation` in https://docs.cilium.io/en/v1.10/concepts/kubernetes/configuration/#configmap-options

[code]

[2021-07-19 15:58] pandarun commented on #588
You were right, one of my HTTP services was listenening on non 80 port, but it wasn't the root cause.

The root cause as I found after adding debug prints was that envoy added Content-Length: 0 header for some reason:

[code]

[2021-07-20 17:11] voatsap commented on #590
@glibsm thanks for answer.

I have disabled `monitor-aggregation: none` but still getting multiple keys.
Should I open issue on cilium?

[2021-07-25 18:19] zhiyanfoo commented on #307
I've opened a PR to add hubble as a formula

https://github.com/Homebrew/homebrew-core/pull/81876

[2021-07-26 13:23] zhiyanfoo commented on #307
brew formula merged. https://github.com/Homebrew/homebrew-core/pull/81876. I've managed to install via `brew install hubble`.

[2021-07-30 00:59] joebowbeerxealth opened #599 "hubble status reports Max Flows 0/0 and Unavailable Nodes"
Trying to enable hubble ui in a cluster where cilium was installed with helm:

[code]

(The `--relay-version` is a workaround for https://github.com/cilium/cilium-cli/issues/456)

After port-forward, `hubble status` reports Max Flows 0/0 and all Nodes Unavailable even though running `cilium status` in each cilium pod shows Max Flows 4095/4095.

No known workaround.

Is this another case of cilium-

[2021-07-30 07:32] rolinh commented on #599
My guess would be yes. Generally speaking, mixing and matching cilium-cli and helm is not a good idea.

Hubble-Relay fails to connect to peers for some reason. What's in Hubble-Relay's log?

[2021-08-07 15:59] netjordan opened #601 "Connections made to the Kubernetes API show up in hubble-ui as 'world'"
Sorry if this has been answered elsewhere, or maybe if it actually belongs to the hubble-ui project.

As mentioned in the Title, when running on EKS in AWS, connections to the kubernetes api show in the hubble-ui as 'world'

Is there any way to change this behaviour to make it easier to identify this as Kubernetes api traffic?

[2021-08-07 18:56] geakstr commented on #601
Hi @netjordan! Currently no, but it's on out radar.

[2021-08-07 23:46] aanm opened #602 "`hubble observe --json` does not print json"
The command `hubble observe --json --last 1000 --follow --namespace default` does not print json. It does print a warning that `--json` flag has been deprecated but the behavior is not the expected one. If a flag is deprecated the behavior should be kept until the flag is removed.
[code]

[code]

[2021-08-09 09:11] gandro commented on #602
Looking at the source, it seems like the legacy flags got broken by https://github.com/cilium/hubble/pull/536 - because we now set a default value, the fallback to deprecated options got broken (this also affects `--compact` and `--dict`)

[2021-08-09 12:19] rolinh commented on #602
The flags have been deprecated since v0.5.0 release 1.5 year ago. The latest stable is now v0.8. Should we just drop support for them at this point?

[2021-08-09 12:21] gandro commented on #602
Yes, let's remove them.

[2021-08-09 12:52] rolinh commented on #602
Should we backport the above PR to the v0.8 branch or cook a patch for it?

[2021-08-09 12:55] gandro commented on #602
If there is an easy fix (I haven't found one without changing the `-o` default as well), I think we should fix it on v0.8. Otherwise let's just remove the broken flags. It's not like we will be breaking anyone v0.8 scripts by removing them, since they are already broken.

[2021-08-09 12:59] rolinh commented on #602
An easy fix is to just ignore the default `output` value and unconditionally set the output to the respective format when one of the old flag is provided. This means that when both `--output table` and `--json` are provided (for example), the latter will win though.
Any other fix will be a little more involved I think. However, considering the flags were already broken in v0.8 and based on your co

[2021-08-11 18:45] joebowbeer commented on #599
Following advice, I enabled hubble via helm and then did the following, which worked.

[code]

[2021-08-30 08:22] jalberto commented on #599
Already did :)
apparently previous version works correctly, the troubles begin with 1.10

[2021-08-30 17:56] Sh4d1 commented on #599
@rolinh Scaleway k8s dev here, the issue with cilium cli is that hubble relay fails to connect to the hubble port on the node. Checked a bit, and looks like cilium is starting the hubble server, but only on a socket path, and not on the intended port. Is it normal?

[2021-08-30 18:37] rolinh commented on #599
@Sh4d1 What is Cilium's configmap? Cilium logs would also be helpful.
In Cilium v1.9 and v1.10, listening on node port 4244 is enabled by default but the agent won't start listening unless a TLS certificate is provided (mTLS is required by default). So if the Hubble server does not listen on port 4244 it either means that the listen address is not configured or that Hubble is waiting for a TLS cer

[2021-08-31 00:43] Sh4d1 commented on #599
Okay got it, we're gonna use the cronjob to generate the cert and it should work flawlessly 😄 @jalberto the fix should be in production this week I guess :)

[2021-08-31 08:52] jalberto commented on #599
Thanks! great work :)

On Tue, 31 Aug 2021 at 02:48, Patrik ***@***.***> wrote:

[2021-09-01 14:19] Sh4d1 commented on #599
@rolinh I got some `2021-09-01T14:08:26.479272492Z level=warning msg="Failed to create gRPC client" address="10.71.18.95:4244" error="context deadline exceeded" hubble-tls=true next-try-in=1h30m0s peer=scw-cilium2-default-3ae3a43267a64269a6623bd133 subsys=hubble-relay`

Though
[code]

Not sure what happens here 🤔

The cert looks good:
[code]

[2021-09-01 14:35] rolinh commented on #599
@Sh4d1 Connectivity issues  are unfortunately hard to debug due to a gRPC limitation (that is addressed in the upcoming version of Cilium). Could you deploy a Hubble CLI pod by running the following:
[code]

This deploys a Hubble CLI pod with the Relay mTLS certificates mounted. This means that one can connect to a Hubble server given it's IP address and ServerName:
[code]

Both `${IP}` and `${SER

[2021-09-01 15:02] Sh4d1 commented on #599
wow perfect thanks :D indeed:
[code]

I ran `cilium hubble enable --create-ca --ui` so I guess I need to create the CA before right? 🤔

[2021-09-02 07:59] Sh4d1 commented on #599
@rolinh is it normal that the hubble job generate a CA secret named `hubble-ca-secret` and `cilium hubble enable` is lookng for a secret name `cilium-ca` ?

[2021-09-02 19:42] kaworu commented on #599
Yes, this is expected.

The Helm method is the most flexible allowing different CA for ClusterMesh and Hubble, while the cilium-cli approach is the simplest one (using one CA for everything). Unfortunately, that makes them incompatible for now.

In your case, one possible workaround would be to override manually the `cilium-ca` Secret using the `hubble-ca-secret` keypair as they share the same lay

[2021-09-03 09:37] Sh4d1 commented on #599
Okay makes sense then! @jalberto I'll wait for a uniformisaation between the 2 methods before pushing anything on my side, will be easier. You can use the helm method to install hubble cert + hubble realy / UI and it should work :)

[2021-09-03 10:01] jalberto commented on #599
@Sh4d1 do you mean this? (https://docs.cilium.io/en/v1.10/gettingstarted/hubble_setup/#hubble-setup)

[code]

I do not see this working as cilium has not been installed via helm, so there is no cilium helm to upgrade

[2021-09-03 10:04] Sh4d1 commented on #599
Nope, I meant templating the files of Hubble certgen/Hubble UI/Hubble relay, and applying only them

[2021-09-03 10:15] jalberto commented on #599
Sorry, but I don't get it, are you referring to this? https://github.com/cilium/hubble/issues/599#issuecomment-910347082

[2021-09-03 10:19] Sh4d1 commented on #599
Nope, I am referring to https://github.com/cilium/cilium/tree/master/install/kubernetes/cilium/templates where you can template the hubble* directories (and the hubble/tls-cronjob)

[2021-09-03 10:23] jalberto commented on #599
I guess it can be a workaround, but it also seems it can break things as soon this bug get fixed or the cluster upgrades

[2021-09-03 10:47] Sh4d1 commented on #599
I'm not sure the way to move forward on our side though:
- either we deploy hubble completey (not everybody uses it)
- we only deploy cilium, with the config ready for hubble (as long as you create the CA, certs, deploy, ...)
- we deploy cilium "hubble-ready" (with the CA and cert created) -> this might break depending on how things goes forward

I'm personally leaning towards the second one

[2021-09-03 11:46] jalberto commented on #599
What I like of option 1:
- disabling hubble is one command away
- hubble is the only way to see what is happening in that layer (so no everybody uses it until they need it)
- as hubble is in control of SCW it can be harder to break

About option 2:
- if there are clear instructions in how to do it, can be a solution
- if all those moving parts need to be created manually, it can drive the same iss

[2021-09-16 11:51] jalberto commented on #599
@Sh4d1 any progress on this?

[2021-09-25 13:24] withlin opened #631 "failed to connect"
[code]

[2021-09-26 01:18] #631 closed

[2021-09-30 16:07] shayn1234 commented on #531
@trnl can you explain your last comment "Ok, I see now why you have only flows and service map (who communicates with whom), but no transactions." why can't we propagate it using HTTP headers in Cillium?

[2021-09-30 19:44] citosid commented on #92
@tgraf I'm interested in this feature. But I'm pretty new to Cilium and Hubble. Just for me to confirm this is what we need: say I want to have visibility on all the requests (no matter the pod) that go port `12345`. This would allow me to do that?

Thanks for your hard work on this featur!

[2021-10-01 15:46] trnl commented on #531
@shayn1234, let's assume transaction: Service **A** communicates with Service **B** and Service **B** with Service **C**
[code]

Cilium observing all the communication between them. So it can see that **A** send HTTP request to **B** and few moments later **B** send request to **C**. But crucial question here - how Cilium can link 1st request with the 2nd to say - it's transaction? Some marker, ak

[2021-10-01 16:39] glibsm commented on #531
That is correct. It is not possible to do this kind of distributed tracing without user libraries (such as HTTP middleware) that automatically either creates a new, or extends an existing trace. Even though Cilium sees all the traffic, it is not possible to correlate without that information.

[2021-10-01 18:24] shayn1234 commented on #531
Sure I understand. You can take even a simpler example that B gets multiple requests from A and sends multiple requests to C. You cannot tel which is which and you loose it.

Thanks @glibsm

[2021-10-18 10:44] voatsap commented on #590
Its resolved by latest version of hubble/cilium

[2021-10-18 10:51] voatsap opened #641 "Verdict events doubling"
Dear Hubble community,

While logging traffic with Hubble:
[code]

Getting most events doubled in output:
They have only difference in logging timestamp, ex:
[code]

How this could be explained and avoided? Thanks!

[2021-10-18 11:37] voatsap commented on #641
@gandro sorry, update with correct one:
[code]

[2021-10-18 14:20] voatsap commented on #641
@gando
I can confirm that I observe same ACK flow on tcpdump.
Regarding aggregation, seemsed its not affecting this since I have got same events within one second

The settings are the same as you mention above

[code]

[2021-10-20 20:25] voatsap commented on #641
@gandro

Regading event flow and aggregations - I can't see any evens because I'm filtering only ACK ones.

I'm curl'ing from Ubuntu pod, the pod form ingress nginx, so request simple:

[code]

With tcpdump we got same count of ACK events:
[code]

[2021-10-27 22:05] michi-covalent opened #645 "refactoring: make flag definitions consistent"
right now filterFlags are defined using `Var` / `VarP`, while other flags are defined using typed version like `BoolVar`: https://github.com/cilium/hubble/blob/master/cmd/observe/flows.go

it's probably more readable to consistently use `Var` / `VarP`?

reference: https://github.com/cilium/hubble/pull/643/files/1c48d1e89198f5af26cb399da039b8b79d79e6c5..566697dc31c22449f9b0aabef3bc97fe3c9cd671#r737

[2021-10-27 23:07] #645 closed, assigned to nobody

[2021-11-04 16:52] trnl commented on #531
@rolinh,

There is may be one question - if headers are already in place in the traffic (X-B3-TraceId for example for Zipkin) or others, is it possible somehow to extract them via Cilium and submit traces to Zipkin/Otel-Collector?

-vova

[2021-11-08 10:28] gandro commented on #531
See also https://github.com/cilium/hubble-otel

[2021-12-18 21:25] debMan commented on #491
How did you fixed that?

[2022-01-22 09:40] auqf opened #672 "can not get the data"
why I use the microk8s install the cilium and hubble, I can not get the data from the hubble-ui?,the pod error logs as follows:
![image](https://user-images.githubusercontent.com/8895540/150633269-a96f2fd9-ac9d-47a0-9c6a-1218f472d283.png)
the hubble-ui  as follows:
![image](https://user-images.githubusercontent.com/8895540/150633325-6aa781da-d649-4f75-87e9-dd5f542427c8.png)
and I found that the hu

[2022-01-28 12:31] sdake opened #677 "Trying to set a hubble parameter results in ENOENT."
sdake@devenv ~ [127]> ./hubble config set tls true
open /home/sdake/.config/hubble/config.yaml: no such file or directory
sdake@devenv ~ [1]> ./hubble config get tls
false

I could probably create this file, which is what I'm going to do next. The help included within the binary indicates that config.yaml is optional. The loading order also specifies this file as optional.

Cheers,
-steve

[2022-01-28 13:09] rolinh commented on #677
Hi Steven, thanks for reporting the issue. I can reproduce and my understanding is that if the file is missing, it's not a problem but if the _directory_ is missing, then one gets the error that you report.

[code]

[2022-02-16 07:20] agileknight commented on #514
We are also running into this issue, it seems.

In a namespace we deploy an application with quite a number of containers that share a common `app` label.

Being able to configure/select, which Kubernetes labels are used to label the graph, would make the graph a lot more useful.

[2022-02-16 12:03] doerflt commented on #514
We have the same problem. We also use the Kubernetes [recommended ](https://kubernetes.io/docs/concepts/overview/working-with-objects/common-labels/#labels )labels.

So will there be an update for this?

[2022-02-16 15:37] geakstr commented on #514
Hi all! We definitely want to provide such customization and we have plans to add it.

[2022-02-28 10:00] #677 closed

[2022-03-02 22:01] joestringer opened #687 "Request: Output security identities by default"
Security identities are very helpful in pinpointing whether it's likely that an issue is related to a pod identity, or world identity issues, or even masquerading issues. It would be helpful to print these by default (even if it's just the number) so that when users report issues, we can at least tell a bit more about the likely direction of the flow, whether it's between two pods or a pod and out

[2022-03-03 20:17] PopTudor commented on #312
@rolinh so should we open both ports 4245 and 4244 on every node? I'm new to Cilium/Hubble and I'm getting confused because the documentation is saying we should only open 4245
<img width="701" alt="image" src="https://user-images.githubusercontent.com/4589309/156645062-3ffad076-4a8d-42fc-ba7a-9a05b7f5ea81.png">
I have 2 servers, 1 master / 1 worker, where I simply runned the following:
1.  [insta

[2022-03-04 09:13] rolinh commented on #312
@PopTudor I understand your confusion, this tip form the documentation is incorrect,. Port 4245 is the default port for Hubble Relay and it does NOT need to be open on all nodes. However, port 4244, the default port for Hubble server, should be open on all nodes running Cilium.

[2022-03-07 20:05] ctml91 opened #691 "openshift documentation - securitycontextcontraints"
When deploying cilium on openshift, the docs only mention SCC's for the cilium test but can't seem to find requirements for the operator and cilium workloads themselves.

https://docs.cilium.io/en/stable/gettingstarted/k8s-install-openshift-okd/

When deploying hubble, the delay throws this error on startup which I assume is due to elevated privileges required on the node. I've already granted the

[2022-03-07 21:57] ctml91 commented on #691
Got past that, I had granted privileged manually but made a type (It would be great if helm recognized OCP and created the RBAC privileges necessary for the various components), I suppose that is more for the other core cilium repo.

But now another pesky error

[code]

Which landed me here https://zhimin-wen.medium.com/selinux-policy-for-openshift-containers-40baa1c86aa5

But I don't really feel

[2022-03-08 14:44] ctml91 commented on #691
That's great, thank for you the link! I will follow it for updates and close this issue.

[2022-04-04 23:26] samstride commented on #599
Hi,

I have this issue too.

I use k3s `v1.22.7` on a single node and I installed cilium `v1.11.0` via the CLI.

I later upgraded to cilium `v1.11.3` using `kubectl + helm template` as described in the [docs](https://docs.cilium.io/en/stable/operations/upgrade/).

I then installed hubble as follows:

[code]

However, hubble status shows 0 connected nodes:

[code]

Did I get something wrong or did

[2022-04-05 10:09] kaworu commented on #599
@samstride please see [this comment](https://github.com/cilium/hubble/issues/599#issuecomment-911999467), in particular:

Note that this incompatibility should be solved with Cilium v1.12+ (see [the corresponding issue](https://github.com/cilium/cilium/issues/18278)).

[2022-04-05 10:24] samstride commented on #599
@kaworu , thanks. Sorry my understanding is that this issue exists if you install cilium using helm but install hubble using cilium cli?

I originally installed cilium using the cli, I did an upgrade using kubectl + helm template, then installed hubble using cli.

Did the upgrade introduce the issue in my case?

[2022-04-05 10:38] kaworu commented on #599
@samstride correct, I am guessing the upgrade regenerate the CAs and certificates in "the Helm way".

[2022-04-05 10:51] jalberto commented on #599
Why isn't there an option to install Hubble using helm?

[2022-04-05 10:52] samstride commented on #599
@kaworu , ahhh, I see. Got it. Thanks.

I tried the workaround documented in the comment and it works now.

Thanks for taking the time to assist.

[2022-04-05 10:55] jalberto commented on #599
@Sh4d1 is this still being worked in SCW side?

[2022-04-05 10:58] samstride commented on #599
@jalberto

The [official docs](https://docs.cilium.io/en/v1.11/gettingstarted/hubble_setup/#enable-hubble-in-cilium) have this documentation to enable hubble in cilium.

[code]

[2022-04-05 10:59] Sh4d1 commented on #599
Hey! I changed team so I'm not aware, better to open up a support ticket or a feature request on scaleway's side to get more news I guess!

[2022-04-05 11:51] jalberto commented on #599
Thanks, @Sh4d1 , support team on the tickets send me here, and you send me there, I am having a lot of fun

[2022-04-08 06:09] tjrone opened #703 ""cilium hubble enable" install only hubble-relay"
Why only hubble-relay is installed, but no daemonset?

Also, how to expose metrics of my existing hubble?

[2022-04-08 06:59] kaworu commented on #703
The Hubble server is now provided by the Cilium agent, so there is no need for a Hubble daemonset anymore (see [this PR](https://github.com/cilium/cilium/pull/10860)). When `cilium hubble enable` is invoked, the cilium ConfigMap is patched in order to enable hubble and the cilium Pods are restarted. Additionally, Hubble Relay is installed to act as an entry point for Hubble CLI and Hubble UI reque

[2022-04-08 08:11] #703 closed

[2022-04-08 08:11] tjrone commented on #703
这是一封自动回复邮件。已经收到您的来信，我会尽快回复。

[2022-04-13 21:14] michi-covalent commented on #687
adding more suggestions here (from @pchaigno)

- The FORWARDED/DROPPED at the end is confusing for policy verdicts. Should likely be ALLOWED/DENIED. Maybe FORWARDED could also just be omitted for brevity.
- The context (endpoint ID) in which each event was emitted is not shown in the compact output. That's also often useful to see transitions on pod-to-pod traffic.

we could either:

- update the

[2022-04-25 17:07] lizrice commented on #349
Seeing the same problem
[code]

[2022-05-03 13:53] lizrice opened #713 "hubble CLI help for service filtering is misleading"
The way the service field in Hubble flows has been implemented so far is that it only works if the destination IP is the service ClusterIP. This makes the following lines from `hubble observe --help` misleading:

[code]

Per @gandro the ideal fix would be to extend it to do a lookup on the IP to see if the destination/source is a service backend IP and populate the fields accordingly. It likely ne

[2022-05-03 14:45] gandro commented on #713
I think one further complication with my proposal is that we don't always know if a connection has been established via ClusterIP. Therefore, a given backend could be the endpoint for multiple services. So there would be multiple service candidates and I'm not sure what the best way would be to resolve this (the current schema only allows for one single service).

But in any case, I agree that we

[2022-05-28 13:43] ILLIDOM commented on #713
Hi all, would it be okay if I implement the short-term fix (adjusting the help messages)?

[2022-05-30 07:49] kaworu commented on #713
@ILLIDOM absolutely, I've assigned the issue to you.

[2022-05-30 16:57] ILLIDOM commented on #713
@kaworu Great! I have just submitted a pull request. I hope I have followed all guidelines. (This is my first contribution to the Hubble project - please inform me if you want me to change anything).

[2022-06-01 13:11] rolinh commented on #501
Hey @slayer321,

What is undocumented is that the these filters are not _exact_ match, they are _prefix_ match. In other words, `hubble observe --pod kube-system/cilium` will match _every_ cilium pod as their names start with `cilium` although the full name is something like `cilium-phzv7`. Is this explanation more clear?

[2022-06-02 10:34] slayer321 commented on #501
Yeah, Now I'm able to understand it. Will raise a PR now :)

[2022-06-02 11:42] #713 closed

[2022-06-02 14:22] #458 closed

[2022-06-03 14:44] rolinh commented on #95
Hubble can be enabled in one command via the Cilium CLI or via Helm.

[2022-06-03 14:44] #95 closed

[2022-06-08 14:47] #501 closed

[2022-06-08 17:18] nmnellis opened #739 "hubble-relay Failed to create peer client for peers synchronization; will try again after the timeout has expired" error="context deadline exceeded" subsys=hubble-relay target= "hubble-peer.kube-system.svc.cluster.local:4254""
Im running k3d on ubuntu and cilium installs and works as expected but hubble-relay does not seem to connect.

* How i installed it
[code]

* log errors

[code]

* I am able to hit this endpoint from other pods though
[code]

* K3d setup

[code]

[code]

[2022-06-09 09:42] gandro commented on #739
Thanks for the report.

[code]

This looks off to me. The peer service should provide a gRPC interface implemented by the cilium-agent pods, not the Hubble UI frontend. Are you able to provide a sysdump?

https://docs.cilium.io/en/v1.11/operations/troubleshooting/#automatic-log-state-collection

[2022-06-09 11:09] slayer321 commented on #455
Hey @gandro, I did like to work on this issue.
I will need some pointers to start working on this issue. I tried to search how the "--v" flag is Implemented in Kubectl, but I could not find it. Though I found that [client-go](https://github.com/kubernetes/client-go/blob/f88de91ae5c1df06deabd75276c9d605d58ebfdd/transport/round_trippers.go#L72) has some Implementation of it ..... but will need some

[2022-06-09 11:48] gandro commented on #455
Hey @slayer321

The client-go library is using HTTP, while Hubble is using gRPC, so the implementation will likely be very different. Since this issue was created, we have gained some features which are similar to tracing, notably `--print-raw-filters`, which prints the request to be sent.

In any case, I think what needs to be done is to check what options exist on `grpc-go` and if it provides an

[2022-06-09 20:42] michi-covalent commented on #687
ok i'm closing this, it's fixed in https://github.com/cilium/hubble/pull/732.

i'll open a separate issue to track how to improve policy verdict events in the compact output.

[2022-06-09 20:42] #687 closed

[2022-06-09 20:57] michi-covalent opened #740 "improve policy verdict event format in compact output mode"
right now policy verdict events look too much like flow events.

policy verdict allowed event:
[code]

policy verdict denied event:
[code]

we should come up with a better output format that:

- clearly indicates that it's a policy verdict event.
- shows policy verdict (https://github.com/cilium/cilium/blob/master/pkg/monitor/api/types.go#L493)
- shows traffic direction (https://github.com/cilium/

[2022-06-13 08:13] gandro commented on #740
FWIW, I believe in audit mode the verdict is not FORWARDED but AUDIT
https://github.com/cilium/cilium/blob/246dd68057b064a2bd39bec53b061c0997bb717b/pkg/hubble/parser/threefour/parser.go#L398-L401

[2022-06-13 17:19] michi-covalent commented on #740
yeah i think that's another confusing thing for me. i thought the audit mode is only for dropped policy verdict, like in https://docs.cilium.io/en/stable/gettingstarted/policy-creation/#enable-policy-audit-mode:

[code]

[2022-06-13 17:23] pchaigno commented on #740
It is, but it's exposed as a verdict. So basically, the verdicts are:
- allowed: Packet is allowed by policies.
- denied: Packet is denied by policies.
- audit: Packet would have been denied by policies if we were not in audit mode.

[2022-06-16 15:10] #740 closed

[2022-07-22 10:18] ahlfors opened #764 "host not found in README.md - https://app.isovalent.com/demos/jobs.yaml"
host not found in README.md : https://github.com/cilium/hubble/tree/v0.5/tutorials/deploy-hubble-servicemap
 - https://app.isovalent.com/demos/jobs.yaml

who knows the updated link?

[2022-07-22 11:11] lambdanis commented on #764
@ahlfors This tutorial is for an old version of Hubble. Tutorials for newer versions are available in [Observability section of Cilium documentation](https://docs.cilium.io/en/v1.12/gettingstarted/hubble_setup/) and they're using a different demo app. Have you see those?

[2022-07-26 02:05] ahlfors commented on #764
thanks a lot~

[2022-07-26 02:05] #764 closed

[2022-07-28 14:08] saintdle opened #768 "Hubble CLI doesn't allow --pod + --namespace arguments"
Using the hubble CLI tool and observe function, doesn't allow pod and namespace argument together, but the ```hubble help``` say's you can do this.

[code]

[2022-07-28 14:09] saintdle commented on #768
/close

just realised there was already an issue opened
 #359

[2022-07-28 14:09] #768 closed

[2022-08-08 09:28] kaworu commented on #599
https://github.com/cilium/cilium/issues/18278 has been fixed and since Cilium v1.12 both the Helm method and cilium-cli will use a single `cilium-ca`, so effectively the limitation should have been lifted.

[2022-08-08 09:28] #599 closed

[2022-08-11 07:54] rolinh opened #776 "Support for filtering on HTTP headers"
HTTP flows [contain headers](https://github.com/cilium/cilium/blob/862e191b3574e4a7c5d2046d28d980c163b50a6f/api/v1/flow/flow.proto#L456-L469) but Hubble doesn't support filtering flows based on HTTP headers. Using the CLI, we can already filter based on HTTP status code, methods and paths but filtering on headers is still missing.

[2022-08-12 07:36] ahmedaabouzied commented on #519
Is this still relevant? Can I pick it up?

[2022-08-12 08:22] rolinh commented on #519
Yes, this is still relevant. Thanks for volunteering @ahmedaabouzied, I'll assign this issue to you!

[2022-08-14 06:11] samstride commented on #599
@kaworu

I am still experience a few issues with the latest version of the cli:

[code]

[2022-08-17 17:05] kaworu commented on #599
@samstride it seems to me that you're experiencing a different issue, unrelated to Hubble CA secrets. If correct, please open a new one and specify how Cilium was initially installed.

[2022-08-22 10:14] gandro commented on #776
Are the HTTP headers even populated anymore? I'm unable to find the PR, but I think we disabled this in envoy for performance reasons.

[2022-08-22 16:38] dharmicksai commented on #776
Hello,
I would like to work on this issue, can I pick this up?

[2022-08-22 18:44] rolinh commented on #776
Hi @dharmicksai, certainly! I've assigned it to you, thanks!

[2022-08-24 18:48] chancez commented on #359
As much as I know this is a hard ask, It would also be ideal if the Flow protobuf separated out the namespace from the pod name field. Then filtering in hubble and timescape would be simpler, and it would make it easier for SIEM/logging solutions to ingest the logs and filter by namespace in queries, as today it's a bit complicated to query by namespace in tools ingesting JSON flow logs.

[2022-08-24 19:26] michi-covalent commented on #359
in the `Flow` protobuf itself `namespace` and `pod_name` are already separate fields right? i thought the issue was the way we defined the namespace/pod filter syntax: https://github.com/cilium/cilium/blob/master/pkg/hubble/filters/k8s.go#L36

[2022-08-25 01:45] unpWn4bL3 opened #782 "Unable to inspect L7 info with hubble by configuring io.cilium.proxy-visibility"
Hello forks, I'm trying to set up a simle HTTP info inspecting environment with Cilium and hubble, using minikube for single node environment.

My kubernets info:

- Linux version: Centos 7 (Inside **a vmware virtual machine**) with Linux kernel 5.4 (5.4.210-1.el7.elrepo.x86_64/kernel-lt)
- Kubernets version: v1.16.2
- kubectl version: v1.16.2
- minikube version: v1.26.1

creating kubernetes clust

[2022-08-25 15:36] chancez commented on #359
Ah you're right. I guess I assumed they were the same! Good to know.

[2022-08-28 21:22] MRostanski commented on #599
@samstride Same here, did you open any issue or ticket?

[2022-08-29 08:29] kaworu commented on #599
@samstride @MRostanski if cilium was installed through Helm in your cluster, then I believe you are running into this issue https://github.com/cilium/cilium-cli/issues/959. If not, feel free to open a new one (preferably in the cilium-cli repository, as the underlying issue seems unrelated to Hubblem to me).

[2022-08-29 22:21] samstride commented on #599
@MRostanski , sorry, no, I haven't opened an issue yet.

@kaworu, this is my timeline:

Cilium and hubble installation: https://github.com/cilium/hubble/issues/599#issuecomment-1088112092

Then I upgraded cilium and hubble based on your comment: https://github.com/cilium/hubble/issues/599#issuecomment-1088516144

Most recent action is that I have upgraded cilium via the CLI but cannot successfully

[2022-08-30 07:33] kaworu commented on #599
@samstride thank you for the clarification, I guess the issue can arise when Cilium was installed through a version of the cilium-cli that does not create the `cilium-cli-helm-values` secret (`<v1.11.0`), and then running `cilium hubble enable` with a later version requiring the secret (`>=v1.11.0`). So it's a slightly different path than installing through Helm first, but ultimately leading to th

[2022-09-07 12:31] rohithsai1904 commented on #455
hello @rolinh Can you please assign the issue to me? I would like to work on it.

[2022-09-07 12:43] rohithsai1904 commented on #776
Hey @rolinh Can you assign it to me as well?

[2022-09-07 13:20] slayer321 commented on #455
No, I'm not working on it.

[2022-09-07 15:24] rolinh commented on #776
@dharmicksai Are you actively working on this or can @rohithsai1904 pick up the issue?

[2022-09-08 15:47] lizonglingo opened #786 "Observer gRPC Server: add "Latency" field to Flow(api/v1/flow), to indicate how long the flow taken"
Can we add a "Latency" field to the information of each flow in `api/v1/flow`, to records the time cost of each flow from the source pod to the destination pod.

In other words, Is there a way to directly obtain each flow's latency?

Recording the latency of pod communication is useful for performance tuning and cluster monitoring.

[2022-09-11 13:48] samwho opened #787 "Hubble UI doesn't work, fresh Cilium 1.12.1 install, "Data stream has failed on the UI backend: EOF""
I just today reinstalled Cilium in my bare-metal cluster at home. I installed 1.12.1, I did `cilium hubble enable --ui`, all went well, I open http://localhost:12000 in my browser and I see this:

<img width="1165" alt="image" src="https://user-images.githubusercontent.com/338027/189530932-592d7f64-932c-425b-9c8e-17674b4467f5.png">

Uncertain how to proceed with debugging. Any help would be apprec

[2022-09-11 13:51] samwho commented on #787
I just attempted upgrading to 1.13.0-rc0 and I experience the same problem.

[2022-09-12 06:45] DhwanishShah commented on #787
Hi i want to work on this issue. Please assign this issue to me @samwho @gandro

[2022-09-12 08:34] chowmean commented on #519
Hi, if this is not WIP, can I take it up? @rolinh

[2022-09-12 12:57] samuraii78 commented on #787
Having the same issue running on minikube. No flows are registering in the UI or via the hubble CLI utility

[2022-09-13 08:02] kaworu commented on #519
@ahmedaabouzied are ou working on this?

[2022-09-13 08:38] gandro commented on #787
We're not yet sure what the root cause is. If you know it, please feel free to share or fix. Otherwise I think we need more info.

What response headers do you see in the browser network tab @samwho ?

[2022-09-13 08:52] gandro commented on #786
We do support this for HTTP flow event (thanks to Envoy): https://github.com/cilium/cilium/blob/d6483e1d26052b7f210a746ff85e919b76c9430f/api/v1/flow/flow.proto#L149

For all kind of events, this will require some additional aggregation and memory on the server. I'm not sure we would want to do this by default.

[2022-09-13 16:20] lizonglingo commented on #786
Thank you:smile:. I see this field after your reply. Some of the Pods in the cluster actually communicate using the HTTP protocol based on TCP protocol (for example the REST API).

However, when setting the Deployment corresponding Service field like this:
[code]

But I saw that there was no L7 information in Hubbel-UI.
![image](https://user-images.githubusercontent.com/40293922/189952903-f081fc57

[2022-09-14 03:19] lizonglingo commented on #786
I am looking for the relevant document of configuring L7 policy in the cilium document:
https://docs.cilium.io/en/stable/policy/visibility/

I am trying to configure it.

[2022-09-14 07:35] kaworu commented on #786
@lizonglingo you are on the right path, l7 visibility is opt-in through annotations so you need to follow the configuration guide before you can observe l7 flows.

[2022-09-14 11:46] lizonglingo commented on #786
The l7 protocol information can be obtained after the configuration, thank you!

[2022-09-14 11:46] #786 closed

[2022-10-01 11:26] ChrsMark commented on #519
Hey folks! Not sure what is the status and the assignment of this issue but I took the chance to push a fix for it at https://github.com/cilium/hubble/pull/792. I opened the PR as draft so feel free to close+ignore it if other people are already working on it :).

[2022-10-11 09:01] tjrone commented on #703
这是一封自动回复邮件。已经收到您的来信，我会尽快回复。

[2022-10-12 04:59] rohithsai1904 commented on #455
Hey @gandro @kaworu , I have started knowing about the Cilium, Hubble  and worked on the Isovalent Lab to get a hands-on. I have no experience in this domain and i have no clue to  start  working on the issue. Can you please let me know how to tackle the issue?

[2022-10-12 05:01] rohithsai1904 commented on #455
Although I have got an idea based on what @gandro has said, I want a deeper look on how can i tackle it. Thanks

[2022-10-12 08:14] gandro commented on #455
This issue is quite old. As mentioned before, my main requirement for me was being able to see what kind of request is being sent to the API, and this has mostly been addressed via `--print-raw-filters`. The remaining goal of this issue is to provide some form of debug output for any grpc request issued by the CLI.

Notably, since this might not be clear from the title, this issue is _not_ about t

[2022-10-28 19:28] jcpunk opened #804 "metrics udp"
https://docs.cilium.io/en/stable/operations/metrics/#hubble-context-options lists `tcp` as a generic target.

It would be helpful if there was a similar `udp` target I could also add to my capture list.  Ideally with (basically) identical behavior.

[2022-10-31 11:10] kaworu commented on #804
From https://docs.cilium.io/en/stable/operations/metrics/#tcp my understanding is that `tcp` enables `tcp_flags_total` for which there are no `udp` equivalent. If correct, could you please then elaborate on which `udp` metrics you are looking for?

cc @chancez

[2022-10-31 21:54] chancez commented on #804
Also https://github.com/cilium/tetragon has some support for UDP metrics, and other network related metrics as well in case hubble does not currently offer what you need.

[2022-11-01 15:54] jcpunk commented on #804
tetragon looks like it has what I was hunting for.  Thanks for the pointer!

[2022-11-01 15:54] #804 closed

[2022-11-04 10:13] rolinh commented on #776
@rohithsai1904 Filtering is implemented in the backend, ie in Hubble server, not the CLI.
To implement support for filtering on HTTP headers, several changes need to happen:

1. Update the `FlowFilter` (see [here](https://github.com/cilium/cilium/blob/d4b41c1fd7bc2d9aef28857be3c89354e35b1a53/api/v1/flow/flow.proto#L373-L375)) so that a client can set HTTP header filters.
2. Implement the filter in

[2022-11-04 20:28] rohithsai1904 commented on #776
@rolinh Any idea how can i test the implementation i have written?

[2022-11-07 14:11] bimmlerd opened #809 "hubble observe does not work with stdin redirection"
Trying to avoid a [useless use of cat](https://porkmail.org/era/unix/award) I typed `hubble observe < cilium-55s8v-hubble_observe.json`, but was greeted with a cryptic `failed to connect to 'localhost:4245': connection error: desc = "transport: error while dialing: dial tcp [::1]:4245: connect: connection refused"`. Typing `cat cilium-55s8v-hubble_observe.json | hubble observe` worked fine.

I'm g

[2022-11-07 14:22] bimmlerd commented on #809
https://github.com/cilium/hubble/blob/a24aa4b051172ab49f715e94af95c5a60f2c5d2d/cmd/observe/flows.go#L157-L160 looks like the culprit, I suspect input redirection is different from a FIFO pipe?

[2022-11-07 15:08] gandro commented on #809
Reproducible on linux-amd64 (archlinux)

[2022-11-14 17:11] rolinh commented on #809
I have a patch [here](https://github.com/cilium/hubble/pull/815), could you confirm that it works for you?

[2022-11-15 08:22] bimmlerd commented on #809
Works for me, nice 🚀

[2022-11-15 10:02] rolinh commented on #776
Do you have a PR I can review? I'd start by implementing unit tests.

[2022-11-15 19:46] rohithsai1904 commented on #776
I hv no PR as of now. Im working.

I updated flow filter in https://github.com/cilium/cilium/blob/d4b41c1fd7bc2d9aef28857be3c89354e35b1a53/api/v1/flow/flow.proto (IN MY LOCAL)

Do i have to update in https://github.com/cilium/cilium/blob/d4b41c1fd7bc2d9aef28857be3c89354e35b1a53/api/v1/flow/flow.pb.go as well?

[2022-11-16 09:49] rolinh commented on #776
After editing a `.proto` file, simply run `make -C api/v1` and the `*.pb.go` files will be updated.

[2022-11-18 12:54] rohithsai1904 commented on #776
https://github.com/cilium/cilium/pull/22265

Raised a PR. Please check. If approved, will update Hubble CLI to filter on HTTP headers